#logo {
  // Set logo height (must be a concrete, non-% value)
  height: theme('topNav.logo.height.sm') !important;
  @media (min-width: theme('topNav.breakpoint')) {
    height: theme('topNav.logo.height.full') !important;
  }

  // Clear Divi settings
  max-height: unset !important;
  max-width: unset !important;
}
