.secondaryTopNav {
  &--desktop {
    position: absolute;
    right: 0;
    transform: translateY(-1.25rem);
    z-index: 1;
  }

  &--mobile {
    transform: translateY(0.5em);

    // Reapply default styles that Divi screwed up
    a {
      color: inherit;
      &:hover,
      &:focus {
        color: theme('color.dark.full');
      }
      border-bottom: none !important;
      opacity: 1 !important;
      background: none !important;
    }
  }

  // Inner layout
  display: flex;
  align-items: center;
  &__element {
    display: inline-block;
    margin-left: 0.75rem;
  }

  &__textLink {
    font-size: 14px;
    font-weight: bold;
    transition: color 0.5s;
  }

  color: theme('color.dark.dim');

  & > a, &__textLink {
    &:hover,
    &:focus {
      color: theme('color.dark.full');
    }
  }
}
