#et-top-navigation {
  // Text properties
  text-transform: uppercase;
  font-weight: 400;

  // Color
  .menu-item > a {
    color: theme('color.dark.full') !important;
  }

  .current-menu-item > a {
    color: theme('color.primary.full') !important;
  }
}
