@import '../../../../~sass-utils/top-menu-separators';

#top-menu {
  // Make room for the secondary menu
  transform: translateY(1.25rem);

  // Show separators between menu items
  .menu-item {
    @include top-menu-separators(23px, theme('color.gray.superLight'));
  }

  // Reapply padding on the whole block instead of the links (useful e.g. for sizing the separators)
  a {
    padding-bottom: 0 !important;
  }
  padding-bottom: theme('topNav.height.full') * 0.5;
}
