.update-nag {
  display: none;
}

body.edit-php {
  &.post-type-event,
  &.post-type-event-recurring {
    a[href*='doaction=undo'][href*='action=untrash'] {
      display: none;
    }
  }
}

body.post-type-entrepreneur #tagsdiv-tbsa_location {
  display: none;
}

body.post-type-tbsa_talk #tagsdiv-tbsa_industry {
  display: none;
}

.follow-to-edit:not(tr), tr.follow-to-edit > .acf-input {
  max-width: 200px;
  display: table-cell;
  vertical-align: middle;

  &__link {
    display: block;
    margin-top: 0.5em;
    float: right;

    &::after {
      font-family: ETmodules;
      content: '9';
      font-size: 80%;
    }
  }

  &--empty &__link {
    display: none;
  }
}

#edittag {
  max-width: unset;
}

.mce-1-line .mce-edit-area {
  max-height: 6em;
  overflow: hidden;
}

.taxonomy-event-categories .term-description-wrap {
  display: none;
}
