@import '../../../~sass-utils/absolute-center';
@import '~theme/input';

.checkbox:not(.woocommerce-form__label) {
  display: inline-block;
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  position: relative;
  text-align: center;
  cursor: pointer;

  &::after {
    @include absolute-center;
    margin-top: 0.05em;

    font-family: ETmodules;
    font-size: 14px;
    font-weight: bold;
    content: '\4e';

    color: transparent;
  }

  input:checked + &::after {
    color: inherit;
  }

  @include input-focus-transition;
  input:focus + & {
    @include input-focus-effect;
  }
}
