@import 'theme';

form {
  textarea {
    resize: vertical;
  }

  &:not(.acf-form):not(.form-custom-sizes) {
    @include form-inputs {
      width: 100%;
      height: 60px;
      padding-left: 18px;
      padding-right: 18px;
    }

    textarea {
      padding: 18px;
      margin-bottom: 12px;
    }

    input,
    select,
    button,
    textarea,
    .et_pb_button {
      @include input-focus-transition;

      &:focus {
        @include input-focus-effect;
      }
    }
  }
}
