@import '~theme/input';

.form-transparent-light {
  @include form-inputs {
    @include input-transparent-light;
  }
}

.form-white {
  @include form-inputs {
    @include input-white;
  }
}

.form-normal {
  @include form-inputs {
    @include input-normal;
  }
}

.form-small-text {
  font-size: 12px;
}
