.talksTableActions {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;

  &__action {
    &:not(:last-of-type) {
      margin-right: 0.5em;
    }

    &--disabled {
      text-decoration: none !important;
      opacity: 0.25;
      cursor: not-allowed;
    }
  }

  &__spinner {
    height: 1rem;
    display: flex;
    align-items: center;
    transform: scale(0.5);
  }

  body:not(.talksTableActions-ready) &__action--dynamic {
    display: none;
  }

  body.talksTableActions-ready &__spinner {
    display: none;
  }
}
