@import '~sass-utils/absolute-center';

.talksLoadingWrapper {
  $transition-duration: 0.5s;
  position: relative;

  &__spinner {
    height: 0;
    opacity: 0;
    transition: height 0s $transition-duration, opacity $transition-duration;
    @include absolute-center;
  }

  &__content {
    transition: $transition-duration;
  }

  &--loading {
    cursor: progress;
  }

  &--loading &__spinner {
    height: auto;
    opacity: 1;
    transition: height 0s, opacity $transition-duration;
  }

  &--loading &__content {
    opacity: 0.25;
    pointer-events: none;
  }
}
