.talks-pagination {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 2rem;

  &--unnecessary {
    display: none;
  }

  a {
    padding: 0.5em;
    text-decoration: none;
  }

  > li {
    &.disabled {
      opacity: 0.5;
    }

    &:not(.disabled):not(.selected) > a {
      cursor: pointer;

      &:hover {
        background-color: theme('color.gray.veryLight');
      }
    }

    &.selected > a {
      background-color: theme('color.primary.dark');
      color: white;
    }
  }
}
