@mixin talksTable--mobile {
  &,
  tbody,
  tr,
  td {
    display: block;
  }

  thead {
    display: none;
  }

  tbody {
    border: 2px solid theme('color.gray.veryLight');
  }

  tr {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  td {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .talksTable__inlineCaption {
    display: inline;
  }
}

.talksTable {
  width: 100%;
  margin-bottom: 1rem;
  transition: opacity 1s;

  &__inlineCaption {
    display: none;
    margin-right: 0.25em;
    font-weight: bold;
  }

  thead,
  tr:nth-child(even) {
    background-color: theme('color.gray.veryLight');
  }

  th {
    text-align: left;
    font-size: 1.25rem;
  }

  td,
  th {
    padding: 0.25em 1rem;
  }

  &--templates {
    table-layout: fixed;

    th,
    td {
      &:first-of-type {
        width: 67%;
      }

      &:last-of-type {
        width: 33%;
      }
    }
  }

  &--submissions {
    td:first-of-type {
      white-space: nowrap;
    }

    @media #{vw(max, sm)} {
      // Specificity needed because of media query combining optimization
      #page-container & {
        @include talksTable--mobile;
      }
    }

    @media #{vw(min, sm)} {
      .talksTable-mobileOnly {
        display: none;
      }

      .talksTable-centered-column {
        text-align: center;
      }
    }
  }
}
