@import '~theme/button';

.submitTalkPopup .eventSearchForm {
  &__buttonContainer {
    text-align: right;
  }

  &__button {
    line-height: 27px;
    @include button-standard($color: no);
    @include button-add-arrow;
    @include button-white;

    @media #{vw(min, lg)} {
      min-width: 100%;
    }
  }
}
