@import '~sass-utils/absolute-center';
@import '~sass-utils/wh-ratio';

.submitTalkPopup .eventSearchForm {
  .date {
    > a,
    > span {
      text-align: center;
    }

    &--unavailable {
      color: theme('color.gray.light');
    }

    &--available {
      font-weight: bold;
      overflow: hidden;

      & > a {
        transition: 0.3s;
        transform: scale(1.5);

        &:hover,
        &:focus-within {
          transform: scale(2);
        }
      }
    }

    &--free {
      color: theme('color.primary.full');
    }
  }
}
