@import '~sass-utils/cols';
@import '~sass-utils/gutter';

.submitTalkPopup .eventSearchForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include cols(
    (
      vw(min, xs): (
        66.67%,
        33.33%
      ),
      vw(min, sm): (
        50%,
        50%
      )
    ),
    $col-selector: '&__field'
  );

  @include gutter(2rem, $row-selector: &, $col-selector: '&__field');

  &__field--type-date input {
    text-align: center;
  }
}
