@import '~sass-utils/precision';

$theme-button-border-width: 1px;
$theme-button-transition-duration: 0.3s;

@mixin button-height($height, $line-height-px: 27px) {
  $padding-vertical: ($height - $line-height-px) * 0.5 -
    $theme-button-border-width;
  padding-top: $padding-vertical !important;
  padding-bottom: $padding-vertical !important;
}

@mixin button(
  $padding-horizontal: 43px,
  $font-size: 1rem,
  $shift-on-hover: true
) {
  display: inline-block;

  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;

  &.button-fixed-width {
    padding-left: $padding-horizontal * 2 !important;
    padding-right: $padding-horizontal * 2 !important;
  }

  @if $shift-on-hover == true {
    &:hover {
      padding-left: $padding-horizontal - 5px !important;
      padding-right: $padding-horizontal + 16px !important;

      &:disabled {
        padding-left: $padding-horizontal !important;
        padding-right: $padding-horizontal !important;
      }

      &.button-fixed-width {
        padding-left: $padding-horizontal * 2 - 8px !important;
        padding-right: $padding-horizontal * 2 + 8px !important;

        &:disabled {
          padding-left: $padding-horizontal * 2 !important;
          padding-right: $padding-horizontal * 2 !important;
        }
      }
    }

    &.button-no-arrow:hover {
      padding-left: $padding-horizontal !important;
      padding-right: $padding-horizontal !important;
    }
  }

  @media (max-width: 360px) {
    padding-left: #{$padding-horizontal * 0.5};
    padding-right: #{$padding-horizontal * 0.5};

    &.button-fixed-width {
      padding-left: $padding-horizontal !important;
      padding-right: $padding-horizontal !important;
    }

    @if $shift-on-hover == true {
      &:hover {
        padding-left: #{$padding-horizontal * 0.5 - 5px} !important;
        padding-right: #{$padding-horizontal * 0.5 + 16px} !important;

        &:disabled {
          padding-left: #{$padding-horizontal * 0.5} !important;
          padding-right: #{$padding-horizontal * 0.5} !important;
        }

        &.button-fixed-width {
          padding-left: #{$padding-horizontal - 8px} !important;
          padding-right: #{$padding-horizontal + 8px} !important;

          &:disabled {
            padding-left: $padding-horizontal !important;
            padding-right: $padding-horizontal !important;
          }
        }
      }

      &.button-no-arrow:hover {
        padding-left: #{$padding-horizontal * 0.5} !important;
        padding-right: #{$padding-horizontal * 0.5} !important;
      }
    }
  }

  &::after {
    font-size: 125% !important;
    top: 50%;
    transform: translateY(-50%);
  }

  &:disabled {
    cursor: not-allowed;

    &::after {
      display: none;
    }
  }

  border: $theme-button-border-width solid transparent !important;
  border-radius: 0;
  font-family: theme('font.family.headings');
  font-size: $font-size;
  text-transform: uppercase;
  font-weight: bold;
}

@mixin button-height-default {
  @include button-height(theme('button.minHeight.default'));
}

@mixin button-primary {
  background-color: theme('color.primary.full');
  color: theme('color.light.full');

  &:hover,
  &:disabled {
    background-color: rgba(theme('color.primary.full'), 0.75) !important;
  }
}

@mixin button-hover-primary {
  &:hover {
    background-color: theme('color.primary.full') !important;
  }
}

@mixin button-primary-inverse($all-important: false) {
  border-color: theme('color.primary.full') !important;
  background-color: theme('color.light.full') #{if($all-important == true, '!important', '')};
  color: theme('color.primary.full') #{if($all-important == true, '!important', '')};

  &:hover {
    background-color: #f3f3f3 !important;
  }
}

@mixin button-white {
  background-color: #fff;
  color: theme('color.dark.full');

  &:hover {
    background-color: theme('color.gray.veryLight') !important;
  }
}

@mixin button-gray {
  background-color: #cdcdcd;
  color: theme('color.light.full');

  &:hover {
    background-color: theme('color.gray.light') !important;
  }
}

@mixin button-constant-width($shift-on-hover: true, $side-padding: 3em) {
  padding-left: $side-padding !important;
  padding-right: $side-padding !important;

  @if $shift-on-hover == true {
    &:hover {
      padding-left: ($side-padding - 0.5em) !important;
      padding-right: ($side-padding + 0.5em) !important;
    }
  }
}

@mixin button-standard($color: 'include', $shift-on-hover: true) {
  @if $color != 'no' {
    @include button-primary;
  }

  @if $color != 'only' {
    @include button($shift-on-hover: $shift-on-hover);
    @include button-height-default;
    text-align: center;

    &::after {
      line-height: inherit !important;
    }
  }
}

@mixin button-small($shift-on-hover: true) {
  line-height: precision(20/14, 2) !important;
  @include button(20px, 14px, $shift-on-hover: $shift-on-hover);
  @include button-height(40px, 20px);
}

@mixin button-multiline {
  &::after {
    right: 2em;
  }

  &:hover::after {
    right: 1em;
  }
}

@mixin button-add-arrow {
  position: relative;
  &::after {
    position: absolute;
    font-family: ETmodules;
    content: '9';
    font-size: 80%;
    opacity: 0;
    transition: inherit;
  }

  &:hover::after {
    opacity: 1;
  }
}
