$theme-container-width: theme('container.width');
$theme-container-max-width: theme('container.maxWidth');
$theme-container-vw-threshold: round(
  $theme-container-max-width * 100% / $theme-container-width
);

@function theme-container-sm-padding() {
  @return (100% - $theme-container-width) / 2;
}

@function theme-container-lg-padding() {
  @return calc((100vw - #{$theme-container-max-width}) / 2);
}

@mixin theme-container-padding($sides...) {
  @if length($sides) == 0 {
    $sides: left, right;
  }

  @each $side in $sides {
    padding-#{$side}: theme-container-sm-padding();
  }

  @media (min-width: $theme-container-vw-threshold) {
    @each $side in $sides {
      padding-#{$side}: calc((100vw - #{$theme-container-max-width}) / 2);
    }
  }
}

@mixin container {
  width: $theme-container-width;
  max-width: $theme-container-max-width;
  margin-left: auto;
  margin-right: auto;
}
