@mixin theme-font-size-jumbo {
  font-size: 42px;

  @media #{vw(min, sm)} {
    font-size: 56px;
  }

  @media #{vw(min, lg)} {
    font-size: 72px;
  }
}

@mixin theme-font-size-xl {
  font-size: 32px;

  @media #{vw(min, sm)} {
    font-size: 40px;
  }

  @media #{vw(min, lg)} {
    font-size: 48px;
  }
}
