@import 'horizontal-rule';

@mixin heading-horizontal-rule {
  padding-bottom: 17px;
  margin-bottom: 20px;
  @include horizontal-rule;
}

@mixin heading-sm-primary {
  @include heading-horizontal-rule;
  line-height: 1.5;
  font-size: theme('font.size.regular.base');
  font-family: theme('font.family.primary');
  font-weight: bold;
  color: theme('color.primary.full');
}

@mixin heading-sm {
  font-size: theme('font.size.regular.base');
  font-family: theme('font.family.primary');
  font-weight: bold;
}
