@mixin form-inputs {
  .selectric,
  .select2,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='number'],
  input[type='search'],
  input[type='email'],
  input[type='tel'],
  input[type='url'],
  .checkbox {
    @content;
  }
}

@mixin input-transparent-light {
  background-color: transparent;
  border: 1px solid rgba(#fff, 0.5);

  color: theme('color.light.full');
  &::placeholder {
    color: theme('color.light.full');
  }
}

@mixin input-white {
  background-color: #fff;
  border: none;

  color: theme('color.dark.full');
  &::placeholder {
    color: theme('color.gray.light');
  }
}

@mixin input-normal {
  border: 1px solid theme('color.dark.dim');
}

@mixin input-focus-transition {
  transition: 0.3s;
}

@mixin input-focus-effect($important: false) {
  $suffix: if($important == true, ' !important', '');
  outline: none#{$suffix};
  box-shadow: 0 0 30px rgba(#000, 0.5)#{$suffix};

  .bg-dark & {
    box-shadow: 0 0 5px rgba(#fff, 1)#{$suffix};
  }

  .form-normal & {
    box-shadow: 0 0 5px rgba(#000, 0.5)#{$suffix};
  }
}
