@mixin list-bulleted {
  list-style: none;

  & > li::before {
    margin-right: 8px;
    content: '▪';
  }
}

@mixin list-numbered($number-width: 2em) {
  list-style: none;
  counter-reset: li;
  padding-left: $number-width;

  & > li {
    counter-increment: li;

    &::before {
      display: inline-block;
      content: counter(li) '.';
      width: $number-width;
      margin-left: -$number-width;
    }
  }
}

@mixin list-primary {
  li::before {
    color: theme('color.primary.full');
  }
}
