@import '~sass-utils/gutter';

@mixin theme-pagination-container($item-selector) {
  @include gutter(
    (2em, 1em),
    $row-selector: '&',
    $col-selector: $item-selector
  );

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin theme-pagination-link($active-selector: '') {
  display: block;
  padding: 0.5em 1em;
  transition: 0.3s;

  @media #{vw(max, xs)} {
    border: 1px solid theme('color.dark.dim');
  }

  @media #{vw(min, xs)} {
    box-shadow: 0 0 70px rgba(#000, 0.1);
    background-color: #fff;
  }

  &#{$active-selector}:hover {
    background-color: transparent;
  }
}
