@import '../../~sass-utils/cols';
@import '../../~sass-utils/full-height';
@import '../../~sass-utils/gutter';

.homeCalendarModule {
  $breakpoint: md;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    @include full-height-enable;
  }

  @include cols(
    (
      vw(min, $breakpoint): 2
    )
  );

  @include gutter(60px);

  &__section {
    @include full-height-take;
    @include full-height-enable;
  }

  &__block {
    @include full-height-take;
    background-color: #fff;
    box-shadow: 0 40px 70px rgba(#000, 0.1);
  }

  &__calendarContainer {
    font-size: 14px;

    @media #{vw(min, xs)} {
      padding: 20px;
      font-size: 18px;
    }
  }

  &__summaryContainer {
    transition: opacity 0.25s !important;
    &--fading {
      opacity: 0;
    }
  }
}
