@import '../../~sass-utils/absolute-center';

.eventShortInfo {
  display: flex;
  align-items: center;
  min-height: 50px;
  background-color: #f9f9f9;
  transition: 0.5s;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    background-color: transparent;
  }

  // Specificity to override :hover
  &.eventShortInfo--active {
    background-color: theme('color.primary.strong');
    color: #fff;

    img {
      filter: brightness(0) invert(1);
    }
  }

  &__icon {
    width: 50px;
    position: relative;

    & > img {
      @include absolute-center;
      max-height: 24px;
      width: auto;
    }
  }

  &__text {
    display: inline-block;
    font-size: 18px;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1.2;

    @media #{vw(max, xs)} {
      font-size: 16px;
      text-align: center;
    }
  }
}
