@import '../../~sass-utils/absolute-center';
@import '../../~sass-utils/overlay';

.homeEvents {
  border-top: 1px solid #f3f3f3;
  padding: 20px;

  &__content {
    max-height: 4 * (50 + 10px);
    position: relative;
    transition: 0.5s;
  }

  &__spinner {
    @include absolute-center;
    display: none;
  }

  &--loading &__content {
    opacity: 0;
  }

  &--loading &__spinner {
    display: block;
  }
}
