.homeEventSummary {
  &__content {
    padding: 20px;

    @media #{vw(min, xs)} {
      padding: 40px;
    }
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
    text-align: center;
    color: theme('color.dark.dim');

    @media #{vw(min, xs)} {
      justify-content: flex-start;
      text-align: left;
    }
  }

  &__address {
    &::after {
      position: relative;
      content: ' 9';
      font-size: 80%;
      font-family: ETmodules;
      transform: translateY(0.1em);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    padding-bottom: 1.5rem;
    line-height: 1.2;
    text-align: center;
    font-size: 30px;

    @media #{vw(min, xs)} {
      text-align: left;
      font-size: 36px;
    }
  }

  &__excerpt {
    padding-bottom: 1.25rem;
  }

  &__price {
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    font-family: theme('font.family.headings');
    text-align: right;
  }

  &__buttons {
    $gutter: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: -$gutter;

    & > a {
      margin: $gutter;
    }
  }
}
