@import '../../~sass-utils/gutter';
@import '~theme/button';
@import '~theme/font';

.home-hero-heading {
  &__lg {
    display: block;
    line-height: 1;
    @include theme-font-size-jumbo;
  }
}

.home-hero-buttons {
  padding-top: 16px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  @include gutter(16px, $row-selector: &, $col-selector: '& > .et_pb_module');

  & > .et_pb_module {
    margin-bottom: 0 !important;
  }

  .et_pb_button {
    @include button-constant-width;
  }
}
