@import '../../~sass-utils/absolute-center';

.tbsa-map {
  &__region {
    $color-base: mix(theme('color.primary.strong'), #e9e9e9, 10%);
    $color-active: theme('color.primary.strong');

    fill: $color-base;
    stroke: #f4f4f4;
    stroke-width: 2px;
    transition: 0.5s;

    &:not(&--disabled) {
      cursor: pointer;

      &:hover {
        fill: mix($color-base, $color-active);
      }
    }

    .tbsa-map.tbsa-map &--active {
      fill: $color-active;
    }

    &--disabled {
      fill: #fff;
    }
  }

  &__badge {
    fill: #cdcdcd;
    stroke: #eee;
    stroke-width: 5px;
  }

  &__region--disabled &__badge {
    display: none;
  }

  &__text {
    font-size: 20px;
    font-weight: 900;
    fill: theme('color.dark.full');
    stroke: transparent;
  }
}
