@import '../../~sass-utils/flex-row';

.homeMapBlock {
  @include flex-row(
    $map: (
      vw(min, md): 2
    ),
    $gutter: 20px
  );

  margin-top: 60px;

  &__prompt {
    font-size: 36px;
    line-height: (45 / 36);
  }

  &__options {
    transition: 0.5s ease-in-out;

    &--transitioning {
      transform: translateX(-50vw);
      opacity: 0;
    }
  }

  &__branches {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    box-sizing: content-box;
    margin: 0 -15px;
    padding: 15px 0 !important;
    overflow: hidden;

    list-style: none !important;
    font-weight: 700;
    font-size: 18px;
  }

  &__branch {
    padding: 0 15px 15px !important;

    &--hidden {
      display: none;
    }
  }

  &__branchLink {
    position: relative;
    cursor: pointer;
    transition: 0.5s;

    &::after {
      content: ' ';
      position: absolute;
      height: 3px;
      width: 0;
      bottom: -8px;
      left: 0;
      background-color: theme('color.primary.darker');
      opacity: 0.5 !important;
      transition: 0.5s;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__branch--active > &__branchLink::after {
    width: 100%;
    opacity: 1 !important;
  }

  &__eventCategoriesOuter {
    padding-bottom: 1rem;
    position: relative;

    .lds-spinner {
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      opacity: 0;
      transition: 250ms;
    }

    &--transitioning > .lds-spinner {
      opacity: 1;
    }
  }

  &__eventCategoriesInner {
    transition: 250ms;
  }

  &__eventCategoriesOuter--transitioning > &__eventCategoriesInner {
    opacity: 0;
  }
}
