@import '../../~sass-utils/gutter';
@import '~theme/button';

.sloganButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style-type: none;
  padding-left: 0 !important;

  @include gutter(10px, $row-selector: &, $col-selector: '&__item');

  &__item {
    display: block;
  }

  #page-container & a {
    @include button-constant-width;
  }
}
