@import '~theme/font';

.tbsa_legal-doc {
  h1 {
    padding-bottom: 1em;
    @include theme-font-size-xl;
  }

  a {
    color: theme('color.primary.full');
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.form-legal {
  padding-bottom: 1rem;

  .form-normal & {
    color: #444;
  }

  .form-transparent-light & {
    color: #eee;
  }

  li {
    list-style-type: decimal;
  }

  p,
  li {
    font-size: 10px;
    line-height: 1.1;
  }

  a {
    color: inherit !important;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
