@import '~theme/font';
@import '~theme/pagination';

.postsPage {
  background-color: #f4f4f4;
  padding-top: 20px;
  padding-bottom: 3rem;

  h1 {
    @include theme-font-size-xl;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
  }

  .nav-links {
    @include theme-pagination-container($item-selector: '.page-numbers');
  }

  .page-numbers {
    @include theme-pagination-link(':not(.current):not(.dots)');
    margin-left: 5px;
    margin-right: 5px;
    width: 3em;
    text-align: center;

    &.current {
      background: theme('color.primary.full');
      color: #fff;
    }

    &.next,
    &.prev {
      display: inline-block;
      font-family: ETmodules;
      transform: translateY(1px);
    }
  }
}
