@import '~theme/button';
@import '~theme/input';

.EventSearchEvent {
  &__actions {
    text-align: center;
  }

  &__buy {
    @include button-standard;
    @include button-constant-width($side-padding: 2em);
    @include button-add-arrow;
    transition: padding $theme-button-transition-duration,
      background-color $theme-button-transition-duration, box-shadow 0s;
    white-space: nowrap;

    // Bring the arrow up a little
    &::after {
      padding-bottom: 0.1em;
    }

    &:focus {
      @include input-focus-effect;
    }
  }
}
