.EventSearchEvent {
  &__info {
    flex-grow: 1;
  }

  &__icon {
    display: block;
    padding-right: 0.75rem;
    flex-shrink: 0;

    > img {
      width: auto;
      max-height: 1.25em !important;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    line-height: 1.25;

    > a {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
