@import '~sass-utils/gutter';

.EventSearchEvent {
  @media #{vw(min, sm)} {
    &__row {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @include gutter(2rem);
}
