.EventSearchEvent__thumbnail {
  display: none;

  @media #{vw(min, md)} {
    display: block;
    flex-shrink: 0;
    width: 25%;
    padding-right: 1rem;

    a {
      display: block;
      transition: 0.3s;

      &:hover {
        opacity: 0.75;
      }
    }

    // Prevent whitespace glitch
    img {
      float: left;
    }
  }
}
