<div class="EventSearchAggregateData">
    <div class="EventSearchAggregateData__heading">
        <h2>{{ __('Podsumowanie') }}</h2>
        <p>(dotyczy tylko wydarzeń, do których podglądu masz dostęp)</p>
    </div>
    <ul class="EventSearchAggregateData__fields">
        <li class="EventSearchAggregateData__field">
            <span class="EventSearchAggregateData__label">{{ __('Wydarzeń') }}:</span>
            <span class="EventSearchAggregateData__value">{{ results.aggregateData.numberOfEvents }}</span>
        </li>
        <li class="EventSearchAggregateData__field">
            <span class="EventSearchAggregateData__label">{{ __('Osób') }}:</span>
            <span class="EventSearchAggregateData__value">{{ results.aggregateData.sales.numberOfPeople }}</span>
        </li>
        <li class="EventSearchAggregateData__field">
            <span class="EventSearchAggregateData__label">{{ __('Wpływy') }}:</span>
            <span class="EventSearchAggregateData__value">{{ results.aggregateData.sales.income }}</span>
        </li>
    </ul>
</div>
