<table class="EventSearch__details">
    <tr>
        <th>{{ __('Rozpoczęcie') }}:</th>
        <td>{{ event.start }}</td>
    </tr>
    <tr>
        <th>{{ __('Zakończenie') }}:</th>
        <td>{{ event.end }}</td>
    </tr>
    {% if event.location %}
        <tr>
            <th>{{ __('Miejsce') }}:</th>
            <td>{{ event.location|join(', ') }}</td>
        </tr>
    {% endif %}
    {% if event.industries %}
        <tr>
            <th>{{ event.industries|length > 1 ? __('Branże') : __('Branża') }}:</th>
            <td>{{ event.industries|join(', ') }}</td>
        </tr>
    {% endif %}
    {% if event.speakers %}
        <tr>
            <th>{{ event.speakers|length > 1 ? __('Prelegenci') : __('Prelegent') }}:</th>
            <td>{{ event.speakers|join(', ') }}</td>
        </tr>
    {% endif %}
    {% if event.talkSubmissionStatus %}
        <tr>
            <th>{{ __('Status zgłoszenia prelegenta') }}:</th>
            <td>
                <span class="coloredStatus coloredStatus--{{ event.talkSubmissionStatus.raw }}">
                    <span class="coloredStatus__icon" title="{{ event.talkSubmissionStatus.formatted }}"></span>
                    <span class="coloredStatus__text">{{ event.talkSubmissionStatus.formatted }}</span>
                </span>
            </td>
        </tr>
    {% endif %}
    {% if event.sales %}
        <tr>
            <th>{{ __('Osób') }}:</th>
            <td>{{ event.sales.numberOfPeople }}</td>
        </tr>
        <tr>
            <th>{{ __('Wpływy') }}:</th>
            <td>{{ event.sales.income }}</td>
        </tr>
    {% endif %}
</table>
