<a
    href="{{ event.url }}"
    {% if event.ajaxUrl %}
        data-fancybox
        data-type="ajax"
        data-src="{{ event.ajaxUrl }}"
    {% else %}
        target="_blank"
        rel="noopener noreferrer"
    {% endif %}
    {% if tabSkip %}tabindex="-1"{% endif %}
>{{ content }}</a>
