<div class="EventSearchEvent">
    <div class="EventSearchEvent__row">
        <div class="EventSearchEvent__col EventSearchEvent__thumbnail">
            {% include 'eventSearch/eventLink.twig' with { content: event.thumbnail, tabSkip: true } %}
        </div>
        <div class="EventSearchEvent__col EventSearchEvent__info">
            <h3 class="EventSearchEvent__heading">
                {% if event.icon %}<span class="EventSearchEvent__icon">{{ event.icon }}</span>{% endif %}
                {% include 'eventSearch/eventLink.twig' with { content: event.title } %}
            </h3>
            {% include 'eventSearch/eventDetails.twig' %}
        </div>
        {% if event.buyUrl %}
            <div class="EventSearchEvent__col EventSearchEvent__actions">
                <a class="EventSearchEvent__buy"
                   data-fancybox
                   data-type="ajax"
                   data-src="{{ event.buyUrl }}"
                   href="javascript:"
                >{{ __('Kup teraz') }}</a>
            </div>
        {% endif %}
    </div>
</div>
