<div class="EventSearchGroup">
    <h2 class="EventSearchGroup__caption">{{ group.caption }}</h2>
    <div class="EventSearchGroup__content">
        {% include 'eventSearch/events.twig' with { events: group.events } %}
    </div>
</div>
