<div class="EventSearch">
    <section class="EventSearch__form">
        <div class="EventSearch__container">
            <h1 class="EventSearch__heading">{{ __('Wyszukiwarka wydarzeń') }}</h1>
            {{ form }}
        </div>
    </section>
    <section class="EventSearch__main">
        {% if results %}
            {% include 'eventSearch/results.twig' %}
        {% endif %}
    </section>
</div>
