<div class="EventSearchResults">
    {% if message %}
        <div class="EventSearch__container">
            <p class="EventSearchResults__message">{{ message }}</p>
        </div>
    {% else %}
        <ul class="EventSearchGroups">
            {% if pagination %}
                <li class="EventSearchGroups__item">
                    <div class="EventSearchResults__pagination">
                        {% include 'directionalPagination.twig' %}
                    </div>
                </li>
            {% endif %}
            {% if results.aggregateData.sales %}
                <li class="EventSearchGroups__item">
                    <div class="EventSearch__container">
                        {% include 'eventSearch/aggregateData.twig' %}
                    </div>
                </li>
            {% endif %}
            {% for group in results.groups %}
                <li class="EventSearchGroups__item">
                    <div class="EventSearch__container">
                        {% include 'eventSearch/group.twig' %}
                    </div>
                </li>
            {% endfor %}
            {% if pagination %}
                <li class="EventSearchGroups__item">
                    <div class="EventSearchResults__pagination">
                        {% include 'directionalPagination.twig' %}
                    </div>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>
