@import '~theme/font';

.bookings-page {
  h1 {
    padding-bottom: 2rem;
    text-align: center;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__form-section {
    background-color: theme('color.primary.strong');
    color: white;
  }

  @media print {
    #top-header,
    #main-header,
    &__table-section ~ * {
      display: none;
    }
  }
}
