@import '~sass-utils/flex-row';
@import '~theme/button';

.bookingsSearchForm {
  @include flex-row(
    $gutter: 10px,
    $map: (
      vw(min, xs): (
        100%,
        50%,
        50%,
        100%,
        100%
      ),
      vw(min, md): (
        15%,
        15%,
        15%,
        40%,
        15%
      )
    )
  );

  &__row {
    align-items: center;
  }

  &__title {
    text-align: center;
    font-size: 1rem !important;
    font-weight: 500;
    font-family: theme('font.family.primary');
  }

  &__button-col {
    text-align: right;
  }

  &__button {
    @include button-white;

    @media #{vw(min, lg)} {
      min-width: 100%;
    }
  }
}
