.bookingsTable {
  margin-left: auto;
  margin-right: auto;

  &__separator {
    > td {
      padding-top: 1rem;
      padding-bottom: 1rem;

      &::after {
        content: ' ';
        display: block;
        box-sizing: content-box;
        height: 1px;
        background-color: currentColor;
      }
    }

    &--thick > td {
      padding-top: 2rem;
      padding-bottom: 2rem;

      &::after {
        height: 3px;
      }
    }
  }

  &__row {
    &--even {
      background-color: theme('color.gray.veryLight');
    }
  }

  &__cell {
    padding: 0.25rem 1rem;

    &--header {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    &--day {
      font-size: 1.2rem;
    }

    &--alignRight {
      text-align: right !important;
    }

    &--monospace {
      font-family: monospace;
    }

    &--lessImportant {
      @media #{vw(max, sm)} {
        display: none;
      }
    }

    &--summary {
      font-weight: 700;
    }
  }

  a {
    @media not print {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
