@import '../../~sass-utils/flex-row';

.magIssue {
  @include flex-row(
    $gutter: 30px,
    $map: (
      vw(min, sm): 2
    )
  );

  &__cover {
    & > img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    padding-bottom: 24px;
  }

  &__about {
    margin-bottom: 45px;

    p {
      text-align: left;
    }
  }

  &__contents {
    padding-top: 2rem;
  }
}
