@import '../../~sass-utils/flex-row';
@import '~theme/heading';

.magOtherIssues {
  @include flex-row(
    $gutter: 30px,
    $map: (
      vw(min, xs): 2,
      vw(min, sm): 3
    )
  );

  &__col {
    text-align: center;
  }

  &__heading {
    font-size: 20px;
    font-weight: bold;
    font-family: theme('font.family.primary');
    @include heading-horizontal-rule;
  }

  &__title {
    font-size: theme('font.size.heading.sm');
    padding-top: 20px;
    padding-bottom: 10px;
  }

  a {
    $transition: 0.5s ease-in-out;

    display: inline-block;
    position: relative;

    img {
      transition: $transition;
    }

    &::after {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);

      font-family: ETmodules;
      content: '\e092';
      font-size: 40px;
      color: theme('color.primary.dark');

      opacity: 0;
      transition: $transition;
    }

    &:hover {
      img {
        opacity: 0.5;
      }

      &::after {
        opacity: 1;
        top: 50%;
      }
    }
  }
}
