.magPage {
  p {
    text-align: justify;
    hyphens: auto;
  }

  a:not([class]) {
    color: theme('color.primary.full');
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .magPage__sidebar iframe {
    max-height: 300px;

    @media #{vw(min, md)} {
      max-height: 200px;
    }
  }
}
