@import '../../~sass-utils/flex-row';

.magPage {
  background-color: #f3f3f3;

  &__title {
    padding-top: 100px;
    padding-bottom: 39px;
    text-align: center;
    font-weight: bold;
  }

  &__topContent {
    padding-bottom: 2rem;
  }

  @include flex-row(
    $gutter: 19px,
    $map: (
      vw(min, md): (
        66.67%,
        33.33%
      )
    )
  );

  &__button {
    margin-top: 1rem;
  }

  &__block {
    margin-bottom: 19px;
    padding: 30px;
    background-color: #fff;
  }
}
