@import '../../~sass-utils/flex-row';
@import '~theme/button';

.magSubscribe {
  $breakpoint: vw(min, sm);
  $layer-width: 155px;

  padding-top: 64px;
  padding-bottom: 64px;
  background-color: theme('color.primary.strong');

  @include flex-row(
    $gutter: 68px,
    $map: (
      $breakpoint: (
        33.33%,
        66.66%
      )
    )
  );

  &__row {
    align-items: center;
  }

  &__images {
    position: relative;
  }

  img {
    width: $layer-width;
  }

  &__imageLayer {
    position: absolute;

    right: calc(50% - #{$layer-width * 0.5});
    @media #{$breakpoint} {
      right: 0;
    }
    transform-origin: 50% 50%;
    box-shadow: 27px 30px 70px rgba(0, 0, 0, 0.2);
  }

  &__heading {
    padding-bottom: 43px;
  }

  button {
    @include button-white;
  }
}
