@import '~theme/button';

.EventSearch .eventSearchForm {
  &__buttonContainer {
    text-align: right;
  }

  &__button {
    line-height: 27px;
    @include button-standard($color: no);
    @include button-constant-width($side-padding: 2em);
    @include button-add-arrow;
    @include button-white;
  }
}
