@import '~sass-utils/absolute-center';
@import '~sass-utils/wh-ratio';

.EventSearch__calendar {
  td {
    font-size: 1rem !important;

    > a,
    > span {
      text-align: center;
    }

    > a:hover {
      background-color: theme('color.gray.veryLight');
    }

    &.ui-datepicker-current-day > a {
      background-color: theme('color.primary.strong');
      color: white;
    }
  }
}
