@import '~sass-utils/cols';
@import '~sass-utils/gutter';

.EventSearch .eventSearchForm {
  $column-layout-start: '(min-width: 560px)';

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;

  @include gutter((2rem, 3rem), $row-selector: &, $col-selector: '&__field');

  @include cols(
    (
      $column-layout-start: 2,
      vw(min, md): 3
    ),
    $col-selector: '&__field'
  );

  &__field {
    &--type-date input {
      text-align: center;
    }
  }

  &__button {
    min-width: 50%;

    @media #{$column-layout-start} {
      min-width: 100%;
    }
  }
}
