@import '~sass-utils/gutter';

.EventSearchAggregateData {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__heading {
    padding-bottom: 1rem;
    text-align: center;

    > h2 {
      font-size: theme('font.size.heading.md');
    }
  }

  @include gutter(
    2rem 0,
    $row-selector: '&__fields',
    $col-selector: '&__field'
  );

  &__fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__field {
    white-space: nowrap;
    font-size: theme('font.size.regular.lg');
  }

  &__value {
    font-weight: bold;
    font-size: 120%;
  }
}
