@import '~theme/container';

.EventSearch {
  background-color: theme('color.gray.veryLight');

  &__heading {
    padding-bottom: 2rem;
    text-align: center;
  }

  &__container {
    @include container;
  }

  &__form {
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: theme('color.primary.strong');
    color: white;
  }
}
