.EventSearch__details {
  th,
  td {
    vertical-align: top;
  }

  th {
    padding-right: 0.5rem;
  }

  @media #{vw(max, xs)} {
    &,
    tr {
      display: block;
    }

    tr {
      padding-top: 0.5rem;
    }

    th,
    td {
      display: inline;
    }

    th {
      padding-right: 0;
    }
  }
}
