<span class="coloredStatus coloredStatus--{{ status.raw }} js-coloredStatus">
    <span class="coloredStatus__icon" title="{{ status.formatted }}"></span>
    <span class="coloredStatus__text talksTable-mobileOnly">{{ status.formatted }}</span>
</span>
