<h4 class="submitTalkEvent__title">{{ event.title }}</h4>
<table class="submitTalkEvent__details">
    <tbody>
        {% for key, value in event.details %}
            <tr>
                <th>{{ key }}:</th>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
