<ul class="submitTalkEvent__actions">
    <li>
        <a href="javascript:"
           data-submit-talk
           data-event-id="{{ event.id }}"
           class="et_pb_button button-fixed-width">{{ __('Aplikuj') }}</a>
    </li>
    <li>
        <a href="{{ event.url }}"
           class="et_pb_button btn-primary-inverse button-sm button-fixed-width"
           target="_blank"
           rel="noopener noreferrer">{{ __('Strona wydarzenia') }}</a>
    </li>
</ul>
