<div class="submitTalkEvent">
    <div class="submitTalkPopup__container">
        <div class="submitTalkEvent__row">
            <div class="submitTalkEvent__col">
                {% include 'myAccount/eventInfo.twig' %}
            </div>
            <div class="submitTalkEvent__col">
                <div class="submitTalkEventWarning">
                    {% if event.status == 'in_review' %}
                        <span class="submitTalkEventWarning__toggler popoverLink popoverLink--showOnHover"
                        ><i class="fas fa-user-friends"></i></span>
                        <div class="submitTalkEventWarning__popover popoverLink__popover popoverLink__popover--static">
                            {{ __('Ktoś już aplikował na to wydarzenie i oczekuje na akceptację. Możesz również to zrobić, jednak wcześniejsze wnioski mogą być traktowane priorytetowo.') }}
                        </div>
                    {% endif %}
                    {% if event.hasIndustryConflict %}
                        <span class="submitTalkEventWarning__toggler popoverLink popoverLink--showOnHover"
                        ><i class="fas fa-user-shield"></i></span>
                        <div class="submitTalkEventWarning__popover popoverLink__popover popoverLink__popover--static">
                            {{ __('We wskazanym mieście występuje potencjalny konflikt ' ~
                                'branżowy z Twoją prezentacją. Po otrzymaniu Twojego ' ~
                                'wniosku, skontaktujemy się z Członkiem TB reprezentującym ' ~
                                'wybraną przez Ciebie branżę.') }}
                        </div>
                    {% endif %}
                </div>
                {% include 'myAccount/eventActions.twig' %}
            </div>
        </div>
    </div>
</div>
