{% if events %}
    <div class="submitTalkEvents__header">
        <div class="submitTalkPopup__container">
            <h2>{{ __('Dostępne wydarzenia %s')|format(date|replace({ ' ': '&nbsp;' })) }}</h2>
        </div>
    </div>
{% endif %}
<ul class="submitTalkEvents">
    {% for event in events %}
        <li class="submitTalkEvents__item">
            {% include 'myAccount/submitTalkEvent.twig' %}
        </li>
    {% else %}
        <li class="submitTalkEvents__item submitTalkEvents__item">
            <div class="submitTalkPopup__container">
                <p>{{ __('Na ten moment w wybranym mieście nie ma dostępnych wydarzeń.') }}</p>
            </div>
        </li>
    {% endfor %}
</ul>
