<div class="submitTalkPopup" id="submitTalkPopup">
    <section class="submitTalkPopup__header">
        <div class="submitTalkPopup__container">
            <h2>{{ __('Szukaj wydarzeń') }}</h2>
            {{ form.render() }}
            <div class="submitTalkPopup__spinner">{% include 'lds-spinner.twig' %}</div>
        </div>
    </section>
    <section class="submitTalkPopup__searchResults">
        <div id="submitTalkPopup__events">
            <div class="submitTalkPopup__container">
                <div class="submitTalkPopup__initialMessage">
                    <p>{{ __('Skorzystaj z wyszukiwarki, aby znaleźć interesującą Cię datę i miasto.') }}</p>
                </div>
            </div>
        </div>
    </section>
</div>
