<h2>{{ speakers|length == 1 ? 'Prelegent' : 'Prelegenci' }}</h2>
{% for name, speakerFields in speakers %}
    <h3>{{ name }}</h3>
    {% for key, value in speakerFields %}
        <h4>{{ key }}</h4>
        <p style="padding-left: 1em">{{ value }}</p>
    {% endfor %}
{% endfor %}
<h2>Prezentacja</h2>
{% for key, value in talkFields %}
    <h3>{{ key }}</h3>
    <p style="padding-left: 1em">{{ value }}</p>
{% endfor %}
