{% if message %}
    <p>{{ message }}</p>
{% endif %}
{% if form %}
    <div class="talk-form">{{ form }}</div>
{% endif %}
{% if comments %}
    <div class="talk-comments">{{ comments }}</div>
{% endif %}
