@import '~sass-utils/gutter';

.submitTalkEvent__actions {
  @include gutter(1rem, $row-selector: &, $col-selector: '& > li');

  text-align: center;

  > li {
    display: inline-block;
  }

  @media #{vw(min, sm)} {
    > li {
      display: block;
    }

    a {
      width: 100%;
      white-space: nowrap;
    }
  }
}
