.submitTalkEvent__details {
  th {
    padding-right: 0.5rem;
  }

  td {
    padding-left: 0.5rem;
  }

  @media #{vw(max, xs)} {
    &,
    tbody,
    tr,
    th,
    td {
      display: block;
    }
  }
}
