@import '~sass-utils/gutter';
@import 'details';
@import 'warning';
@import 'actions';

.submitTalkEvent {
  @include gutter(2rem);

  @media #{vw(min, sm)} {
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
