.submitTalkEvents {
  &__header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: theme('color.gray.veryLight');

    h2 {
      padding-bottom: 0;
      font-size: theme('font.size.heading.sm');
      line-height: 1.5;
      text-align: center;
    }
  }

  &__item {
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-of-type(2n) {
      background-color: theme('color.gray.veryLight');
    }
  }
}
