@import '~theme/container';

.submitTalkPopup {
  width: 90vw;
  max-width: 980px;
  max-height: 90vmax;
  padding: 0 !important;
  top: 5vw;
  vertical-align: top;

  @media #{vw(min, lg)} {
    top: 55px;
    max-height: calc(100vh - 110px);
  }

  &__container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__header {
    padding-top: 2rem;
    background-color: theme('color.primary.strong');
    color: white;

    h2 {
      padding-bottom: 2rem;
      font-size: theme('font.size.heading.md');
      text-align: center;
    }
  }

  &__spinner {
    padding-top: 0.5rem;
    text-align: center;
    opacity: 0;
    transition: 0.1s;
  }

  &__initialMessage {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }

  &--loading &__spinner {
    opacity: 1;
  }

  &__searchResults {
    transition: 0.2s;
  }

  &--fading &__searchResults {
    opacity: 0;
  }

  .fancybox-button {
    color: white;
  }
}
