.submitTalkEventWarning {
  text-align: center;

  &__toggler {
    display: inline-block;
    padding-bottom: 1rem;
    position: relative;
    color: theme('color.primary.full');
  }

  &__popover {
    position: absolute;
    margin-right: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: theme('font.size.regular.sm');
    line-height: 1.3;
    background-color: rgba(black, 0.9);
  }
}
