@font-face {
  font-family: 'Apolonia';
  src: url('Apolonia-Bold.eot');
  src: local('Apolonia Bold'), local('Apolonia-Bold'),
  url('Apolonia-Bold.eot?#iefix') format('embedded-opentype'),
  url('Apolonia-Bold.woff2') format('woff2'),
  url('Apolonia-Bold.woff') format('woff'),
  url('Apolonia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Apolonia';
  src: url('Apolonia-Italic.eot');
  src: local('Apolonia Italic'), local('Apolonia-Italic'),
  url('Apolonia-Italic.eot?#iefix') format('embedded-opentype'),
  url('Apolonia-Italic.woff2') format('woff2'),
  url('Apolonia-Italic.woff') format('woff'),
  url('Apolonia-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Apolonia';
  src: url('Apolonia-BoldItalic.eot');
  src: local('Apolonia Bold Italic'), local('Apolonia-BoldItalic'),
  url('Apolonia-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('Apolonia-BoldItalic.woff2') format('woff2'),
  url('Apolonia-BoldItalic.woff') format('woff'),
  url('Apolonia-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Apolonia';
  src: url('Apolonia.eot');
  src: local('Apolonia'),
  url('Apolonia.eot?#iefix') format('embedded-opentype'),
  url('Apolonia.woff2') format('woff2'),
  url('Apolonia.woff') format('woff'),
  url('Apolonia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apolonia Nova Lekka OT';
  src: url('ApoloniaNovaLekkaOT-Italic.eot');
  src: local('Apolonia Nova Lekka OT Italic'), local('ApoloniaNovaLekkaOT-Italic'),
  url('ApoloniaNovaLekkaOT-Italic.eot?#iefix') format('embedded-opentype'),
  url('ApoloniaNovaLekkaOT-Italic.woff2') format('woff2'),
  url('ApoloniaNovaLekkaOT-Italic.woff') format('woff'),
  url('ApoloniaNovaLekkaOT-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Apolonia';
  src: url('Apolonia-Italic_1.eot');
  src: local('Apolonia Italic'), local('Apolonia-Italic'),
  url('Apolonia-Italic_1.eot?#iefix') format('embedded-opentype'),
  url('Apolonia-Italic_1.woff2') format('woff2'),
  url('Apolonia-Italic_1.woff') format('woff'),
  url('Apolonia-Italic_1.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Apolonia Nova OT';
  src: url('ApoloniaNovaOT.eot');
  src: local('Apolonia Nova OT'), local('ApoloniaNovaOT'),
  url('ApoloniaNovaOT.eot?#iefix') format('embedded-opentype'),
  url('ApoloniaNovaOT.woff2') format('woff2'),
  url('ApoloniaNovaOT.woff') format('woff'),
  url('ApoloniaNovaOT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apolonia Nova Cienka OT';
  src: url('ApoloniaNovaCienkaOT.eot');
  src: local('Apolonia Nova Cienka OT'), local('ApoloniaNovaCienkaOT'),
  url('ApoloniaNovaCienkaOT.eot?#iefix') format('embedded-opentype'),
  url('ApoloniaNovaCienkaOT.woff2') format('woff2'),
  url('ApoloniaNovaCienkaOT.woff') format('woff'),
  url('ApoloniaNovaCienkaOT.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Apolonia';
  src: url('Apolonia_1.eot');
  src: local('Apolonia'),
  url('Apolonia_1.eot?#iefix') format('embedded-opentype'),
  url('Apolonia_1.woff2') format('woff2'),
  url('Apolonia_1.woff') format('woff'),
  url('Apolonia_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apolonia Nova OT';
  src: url('ApoloniaNovaOT-BoldItalic.eot');
  src: local('Apolonia Nova OT Bold Italic'), local('ApoloniaNovaOT-BoldItalic'),
  url('ApoloniaNovaOT-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('ApoloniaNovaOT-BoldItalic.woff2') format('woff2'),
  url('ApoloniaNovaOT-BoldItalic.woff') format('woff'),
  url('ApoloniaNovaOT-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Apolonia Grafia';
  src: url('ApoloniaGrafia-Italic.eot');
  src: local('Apolonia Grafia Italic'), local('ApoloniaGrafia-Italic'),
  url('ApoloniaGrafia-Italic.eot?#iefix') format('embedded-opentype'),
  url('ApoloniaGrafia-Italic.woff2') format('woff2'),
  url('ApoloniaGrafia-Italic.woff') format('woff'),
  url('ApoloniaGrafia-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Apolonia';
  src: url('Apolonia-Bold_1.eot');
  src: local('Apolonia Bold'), local('Apolonia-Bold'),
  url('Apolonia-Bold_1.eot?#iefix') format('embedded-opentype'),
  url('Apolonia-Bold_1.woff2') format('woff2'),
  url('Apolonia-Bold_1.woff') format('woff'),
  url('Apolonia-Bold_1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Apolonia Nova Lekka OT';
  src: url('ApoloniaNovaLekkaOT.eot');
  src: local('Apolonia Nova Lekka OT'), local('ApoloniaNovaLekkaOT'),
  url('ApoloniaNovaLekkaOT.eot?#iefix') format('embedded-opentype'),
  url('ApoloniaNovaLekkaOT.woff2') format('woff2'),
  url('ApoloniaNovaLekkaOT.woff') format('woff'),
  url('ApoloniaNovaLekkaOT.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Apolonia Nova Cienka OT';
  src: url('ApoloniaNovaCienkaOT-Italic.eot');
  src: local('Apolonia Nova Cienka OT Italic'), local('ApoloniaNovaCienkaOT-Italic'),
  url('ApoloniaNovaCienkaOT-Italic.eot?#iefix') format('embedded-opentype'),
  url('ApoloniaNovaCienkaOT-Italic.woff2') format('woff2'),
  url('ApoloniaNovaCienkaOT-Italic.woff') format('woff'),
  url('ApoloniaNovaCienkaOT-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Apolonia Nova OT';
  src: url('ApoloniaNovaOT-Italic.eot');
  src: local('Apolonia Nova OT Italic'), local('ApoloniaNovaOT-Italic'),
  url('ApoloniaNovaOT-Italic.eot?#iefix') format('embedded-opentype'),
  url('ApoloniaNovaOT-Italic.woff2') format('woff2'),
  url('ApoloniaNovaOT-Italic.woff') format('woff'),
  url('ApoloniaNovaOT-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Apolonia Grafia';
  src: url('ApoloniaGrafia.eot');
  src: local('Apolonia Grafia'), local('ApoloniaGrafia'),
  url('ApoloniaGrafia.eot?#iefix') format('embedded-opentype'),
  url('ApoloniaGrafia.woff2') format('woff2'),
  url('ApoloniaGrafia.woff') format('woff'),
  url('ApoloniaGrafia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apolonia';
  src: url('Apolonia-BoldItalic_1.eot');
  src: local('Apolonia Bold Italic'), local('Apolonia-BoldItalic'),
  url('Apolonia-BoldItalic_1.eot?#iefix') format('embedded-opentype'),
  url('Apolonia-BoldItalic_1.woff2') format('woff2'),
  url('Apolonia-BoldItalic_1.woff') format('woff'),
  url('Apolonia-BoldItalic_1.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Apolonia Nova OT';
  src: url('ApoloniaNovaOT-Bold.eot');
  src: local('Apolonia Nova OT Bold'), local('ApoloniaNovaOT-Bold'),
  url('ApoloniaNovaOT-Bold.eot?#iefix') format('embedded-opentype'),
  url('ApoloniaNovaOT-Bold.woff2') format('woff2'),
  url('ApoloniaNovaOT-Bold.woff') format('woff'),
  url('ApoloniaNovaOT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

