{% set id = random(99999999999) %}
<input
    type="text"
    id="{{ id }}"
    name="{{ field.name }}"
    {% if field.value %}value="{{ field.value }}"{% endif %}
    placeholder="{{ field.placeholder ?: '-' }}"
>
<script>
  if (window.jQuery) {
    var $datePicker{{ id }} = jQuery('#{{ id }}');
    $datePicker{{ id }}.datepicker({ dateFormat: 'yy-mm-dd' });
      {% if field.keepDatePickerWithInput %}
    $datePicker{{ id }}.datepicker('widget').insertAfter($datePicker{{ id }});
      {% endif %}
      {% if field.calendarClass %}
    $datePicker{{ id }}.datepicker('widget').addClass('{{ field.calendarClass }}');
      {% endif %}
  }
</script>
{% if field.clearable %}
    <button
        class="searchField__clear"
        onclick="$datePicker{{ id }}.datepicker('setDate', null);return false"
    ><span class="sr-only">{{ __('Wyczyść pole') }}</span></button>
{% endif %}
