<input
    type="{{ field.type }}"
    name="{{ field.name }}"
    placeholder="{{ field.label }}"
    {% if field.value %}
        value="{{ field.value }}"
    {% endif %}
    {% if field.list %}
        {% set listId = random(99999999999) %}
        list="{{ listId }}"
    {% endif %}
>
{% if field.list %}
    <datalist id="{{ listId }}">
        {% for option in field.list %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </datalist>
{% endif %}
