{% set emptyLabel = field.emptyLabel ?: '-' %}
<select
    class="custom-select"
    name="{{ field.name }}{% if field.multi %}[]{% endif %}"
    data-placeholder="{{ field.placeholder ?: field.label }}"
    {% if not field.noEmpty %}data-empty-label="{{ emptyLabel }}"{% endif %}
    {% if field.multi %}multiple{% endif %}
>
    {% if not field.noEmpty %}
        <option value="">{{ emptyLabel }}</option>
    {% endif %}
    {% for value, label in field.kvPairs %}
        <option
            value="{{ value }}"
            {% if (value == field.value) or (field.multi and value in field.value) %}selected{% endif %}
        >{{ label }}</option>
    {% endfor %}
    {% for option in field.list %}
        <option
            value="{{ option }}"
            {% if (option == field.value) or (field.multi and option in field.value) %}selected{% endif %}
        >{{ option }}</option>
    {% endfor %}
</select>
<script>
  if (typeof window.initializeCustomSelects === 'function') {
    window.initializeCustomSelects();
  }
</script>
