.counters-row {
  font-family: theme('font.family.headings');
  text-align: center;

  .percent {
    margin-bottom: 0 !important;
    text-align: center !important;

    p {
      line-height: inherit;
      font-size: 60px;
      font-weight: 700;
    }
  }

  .title {
    font-size: 24px;
    text-align: center !important;
  }
}
