.about-us-quote {
  blockquote {
    &::before {
      display: block;
      overflow-y: hidden;
      height: 90px;

      content: '“';
      font-size: 120px;
      color: #ececec;
    }

    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-left: none;

    line-height: 1.3;
    font-family: theme('font.family.headings');
    font-size: 24px;
    font-style: italic;

    footer {
      font-family: theme('font.family.base');
      font-size: 1rem;
      font-style: normal;
    }
  }
}
