.testimonial {
  line-height: 1.4;
  font-family: theme('font.family.headings');
  font-size: 18px;

  position: relative;
  &::before {
    position: absolute;
    transform: translate(-8%, -56%);

    content: '“';
    font-size: 172px;
    color: #ebebeb;
  }
}
