.testimonialFooter {
  padding-top: 24px;

  &__name {
    padding-bottom: 8px;
    font-family: theme('font.family.headings');
    font-size: 24px;
  }

  &__business {
    line-height: 1;
    padding-bottom: 4px;
  }

  &__branch > a {
    display: inline-block;
    color: theme('color.primary.dark');
    position: relative;

    &::before {
      display: inline-block;
      font-family: ETmodules;
      content: '9';
      transform: translate(-2px, 1px);
    }
  }

  a:hover {
    text-decoration: underline;
  }
}
