@import '~theme/button';

.postFooter {
  &__legal {
    padding-top: 1.5rem;
    line-height: 1.2;
    font-size: 12px;

    a:not(:hover) {
      text-decoration: underline;
    }
  }

  &__share {
    text-align: right;
    padding-top: 2.5rem;
  }

  &__subscribe {
    margin-top: 2.5rem;
    padding: 2.5rem;
    background-color: theme('color.primary.full');
    color: #fff;

    h2 {
      padding-bottom: 1.5rem;
    }

    button[type=submit] {
      @include button-white;
    }
  }
}
