.single {
  .et_pb_post {
    padding-bottom: 0;
  }

  .entry-title {
    padding-bottom: 1rem;
  }

  .entry-content {
    p {
      text-align: justify;
    }

    a:not([class]) {
      color: theme('color.primary.full');

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
