<div class="container">
    <div class="branchPageRow branchPageIntro">
        <div class="branchPageRow__col">
            <h2>{{ intro.bigText }}</h2>
            <p>{{ intro.normalText }}</p>
        </div>
        <div class="branchPageRow__col">
            {% if intro.eventCategoriesCaption %}
                <h2 class="heading-sm">{{ intro.eventCategoriesCaption }}</h2>
            {% endif %}
            [event_categories style="bordered" branch="{{ branch.id }}" accordion=0]
        </div>
    </div>
</div>
