<div class="branchPage__aboutEventCategories">
    <div class="container">
        {% for category in eventCategories %}
            {% if category.description %}
                <div class="eventCatDesc" id="{{ eventCategoryIdTemplate|replace({ '{slug}': category.slug }) }}">
                    <h2 class="eventCatDesc__header">
                        <span class="eventCatDesc__icon"><img src="{{ category.icon }}" alt=""></span>
                        <span>{{ category.title }}</span>
                    </h2>
                    <div class="eventCatDesc__row{% if loop.index is even %} eventCatDesc__row--reversed{% endif %}">
                        <div class="eventCatDesc__col">
                            <div class="eventCatDesc__text">{{ category.description }}</div>
                        </div>
                        {% if category.videoHeading and category.video %}
                            <div class="eventCatDesc__col">
                                <h3 class="eventCatDesc__videoHeading">{{ category.videoHeading }}</h3>
                                {{ category.video }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="eventCatDesc__separator"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
