{% from 'parallax.twig' import parallax %}

<section class="branchPageAboutTbsa bg-parallax-white-lightgray-white" style="position: relative; overflow: hidden">
    {{ parallax() }}
    <div class="container">
        <h2 class="branchPageAboutTbsa__heading">{{ heading }}</h2>
        {% for section in sections %}
            <div class="branchPageAboutTbsa__section">
                <div class="branchPageAboutTbsa__image">{{ section.image }}</div>
                <div class="branchPageRow">
                    <div class="branchPageRow__col">{{ section.left }}</div>
                    <div class="branchPageRow__col">{{ section.right }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
