{% macro members(board, nameHeadingLevel) %}
    {% for relation in board.members %}
        {% set entrepreneur = relation.entrepreneur %}
        <div class="peopleRow__col">
            <div class="personBox">
                <div class="personBox__imageRow">
                    <div class="round-thumbnail"
                         style="background-image: url({{ entrepreneur.photo }})"></div>
                </div>
                <div class="boardMember">
                    <h{{ nameHeadingLevel }} class="boardMember__name">{{ entrepreneur.name }}</h{{ nameHeadingLevel }}>
                    <p class="boardMember__role">{{ relation.description }}</p>
                    {% if entrepreneur.businessRelations %}
                        {% set business = entrepreneur.businessRelations[0].business %}
                        {% if business.logo %}
                            <a href="{{ business.url }}"
                               target="_blank"
                               rel="noopener noreferrer"
                               class="boardMember__businessLogo"
                            >
                                <img src="{{ business.logo }}"
                                     alt="{{ business.name }}">
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% from _self import members %}

{% if boards is not empty %}
    <div class="branchPage__boards container">
        {% for board in boards %}
            <section class="branchPage__board">
                <h2>{{ board.type }}</h2>
                {% if board.members %}
                    <div class="peopleRow peopleRow--center">
                        {{ members(board, 3) }}
                    </div>
                {% else %}
                    <div class="subboards">
                        {% for subboard in board.subboards %}
                            <div class="subboard{% if loop.first %} subboard--active{% endif %}">
                                <h3 class="subboard__heading button-fixed-width">{{ subboard.group.name }}</h3>
                                <div class="subboard__content">
                                    <div class="peopleRow peopleRow--center">
                                        {{ members(subboard.board, 4) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </section>
        {% endfor %}
    </div>
{% endif %}
