{% from 'popoverLink.twig' import popoverLink %}
<div class="container">
    <h2>{{ dictionary.contactHeading }}</h2>
    <div class="branchContact">
        {% if contact.photo %}
            <div class="personBox__imageRow">
                <div class="round-thumbnail" style="background-image: url({{ contact.photo }})"></div>
            </div>
        {% endif %}
        <div class="branchContact__name">{{ contact.name }}</div>
        <div class="branchContact__links">
            {% for link in contact.links %}
                {{ popoverLink(link, 'branchContact__link') }}
            {% endfor %}
        </div>
    </div>
</div>
