<div class="branchHeader">
    <div class="container">
        <div class="branchHeader__row">
            <h1 class="branchHeader__branchName">{{ branch.name }}</h1>
            <div>[share_buttons]</div>
        </div>
    </div>
    <div class="branchHeader__buttonPositioner">
        {% include 'branchPage/signUpButton.twig' %}
    </div>
</div>
