{% if buyNearestEventUrl %}
    <a data-fancybox=""
       data-type="ajax"
       data-src="{{ buyNearestEventUrl }}"
       href="javascript:"
       class="et_pb_button button-multiline hover-bg-primary branchPage__signUpButton"
    >{{ dictionary.signUpButtonText }}</a>
{% endif %}
