@mixin divi-top-nav-breakpoint($value) {
  @media not all and (min-width: $value) {
    // No space above navbar
    #page-container {
      padding-top: 0 !important;
    }

    #main-header {
      position: relative !important;
    }
    #et-top-navigation {
      padding-top: 24px !important;
    }
    #top-menu-nav,
    #top-menu {
      display: none;
    }
    #et_mobile_nav_menu {
      display: block;
    }
  }
}
