@import 'precision';
@import 'full-height';

@mixin flex-row(
  $map,
  $gutter: 0,
  $row-selector: '&__row',
  $col-selector: '&__col',
  $center-content: false,
  $full-content-height: false
) {
  $gutter-half: $gutter * 0.5;

  @at-root #{$row-selector} {
    display: flex;
    @if ($center-content) {
      justify-content: center !important;
    }
    flex-wrap: wrap;
    margin: -$gutter-half !important;
    width: calc(100% + #{$gutter}) !important;
  }

  @at-root #{$col-selector} {
    width: 100%;
    max-width: 100vw;
    padding: $gutter-half;

    @if $full-content-height {
      @include full-height-enable;
    }
  }

  @each $breakpoint, $cols in $map {
    @media #{$breakpoint} {
      @at-root #{$col-selector} {
        @if type-of($cols) == list {
          $count: length($cols);
          @for $i from 1 through $count {
            &:nth-child(#{$count}n + #{$i}) {
              width: precision(nth($cols, $i), 2, floor);
            }
          }
        } @else {
          width: precision((1 / $cols) * 100%, 2, floor);
        }
      }
    }
  }
}
