@mixin gutter($gutters, $row-selector: '&__row', $col-selector: '&__col') {
  @if type-of($gutters) == number {
    $gutters: (
      horizontal: $gutters,
      vertical: $gutters
    );
  }
  @if type-of($gutters) == list {
    $gutters: (
      horizontal: nth($gutters, 1),
      vertical: nth($gutters, 2)
    );
  }
  $gutter-horizontal: map_get($gutters, horizontal);
  $gutter-vertical: map_get($gutters, vertical);
  $gutter-horizontal-half: $gutter-horizontal * 0.5;
  $gutter-vertical-half: $gutter-vertical * 0.5;

  @at-root #{$row-selector} {
    margin: #{-$gutter-vertical-half} #{-$gutter-horizontal-half};
    width: calc(100% + #{$gutter-horizontal});
  }

  @at-root #{$col-selector} {
    padding: $gutter-vertical-half $gutter-horizontal-half;
  }
}
