@mixin ratio-sizes(
  $max-width-horizontal: 100%,
  $max-height-horizontal: 100px,
  $max-width-square: 150px,
  $max-height-square: 150px,
  $max-width-vertical: 200px,
  $max-height-vertical: 200px
) {
  max-height: $max-height-horizontal;

  & > img {
    max-width: $max-width-horizontal;
    max-height: $max-height-horizontal;
  }

  &.orientation-square {
    max-height: $max-height-square;

    img {
      max-width: $max-width-square;
      max-height: $max-height-square;
    }
  }

  &.orientation-portrait {
    max-height: $max-height-vertical;

    img {
      max-width: $max-width-vertical;
      max-height: $max-height-vertical;
    }
  }
}
