@mixin top-menu-separators($distance, $color) {
  &:not(:first-child) {
    padding-left: $distance;
  }

  &:not(:last-child) {
    padding-right: $distance;
    border-right: 1px solid $color;
  }
}
