@import '~theme/text';

.branchPageAboutTbsa {
  &__heading {
    text-align: center;
    padding-bottom: 50px;
  }

  &__section {
    padding-bottom: 50px;
  }

  &__image {
    padding-bottom: 50px;
  }

  h3 {
    font-size: theme('font.size.heading.md');
    line-height: (36px / 30px);
  }

  p {
    @include justify-conditionally;
  }
}
