@import '../../~sass-utils/ratio-sizes';

.boardMember {
  text-align: center;

  &__name {
    font-size: 24px;
    color: theme('color.primary.dark');
  }

  &__role {
    padding-bottom: 1rem !important;
  }

  &__businessLogo {
    display: block;
    @include ratio-sizes(
      $max-width-horizontal: 175px,
      $max-height-horizontal: 50px,
      $max-width-square: 100px,
      $max-height-square: 100px,
      $max-width-vertical: 75px,
      $max-height-vertical: 175px
    );
  }
}
