.branchContact {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    margin-top: -0.5rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 24px;
    color: theme('color.primary.dark');
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;

    background-color: white;
    color: inherit;

    &:hover,
    &:focus {
      background-color: theme('color.primary.strong');
      color: white;
      transition: background-color 0.5s;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
