@import '../../~sass-utils/cols';
@import '../../~sass-utils/gutter';
@import '~theme/heading';
@import '~theme/text';

.eventCatDesc {
  $icon-container-width: 60px;
  $breakpoint-outer-name: md;
  $breakpoint-inner-name: lg;
  padding-top: 60px;
  padding-bottom: 60px;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  @include cols(
    (
      vw(min, $breakpoint-outer-name): 2
    )
  );

  @include gutter((60px, 30px));

  &__header {
    padding-bottom: 30px;
    text-align: center;

    & > span {
      display: block;
    }
  }

  &__icon {
    padding-bottom: 1rem;
  }

  p {
    @include justify-conditionally;
  }

  &__videoHeading {
    @include heading-sm;
    padding-bottom: 20px;
  }

  &__separator {
    text-align: center;
    &::before {
      //noinspection CssUnknownTarget
      content: url(~assets/tb-separator.png);
    }
  }

  @media #{vw(min, $breakpoint-inner-name)} {
    &__header {
      display: flex;
      align-items: center;
      text-align: left;
    }

    &__icon {
      width: $icon-container-width;
      padding-bottom: 0;
    }

    &__row--reversed {
      flex-direction: row-reverse;
    }

    &__text {
      padding-left: $icon-container-width;

      // This is necessary to keep it in line with the other column, I don't know why
      margin-top: -3px;
    }
  }
}
