@import '../../~sass-utils/edge-center';

.branchHeader {
  $breakpoint-name: md;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  background-color: #f3f3f3;

  &__row {
    @media #{vw(max, $breakpoint-name)} {
      text-align: center;
    }

    @media #{vw(min, $breakpoint-name)} {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__branchName {
    font-weight: bold;
    padding: 0;

    @media #{vw(max, $breakpoint-name)} {
      padding-bottom: 1rem;
    }

    @media #{vw(min, $breakpoint-name)} {
      padding-right: 1em;
    }
  }

  &__buttonPositioner {
    @include edge-center(bottom);
  }
}
