@import '~theme/button';
@import '../../~sass-utils/edge-center';

.branchPage {
  &__aboutEventCategories {
    padding-bottom: 60px;
  }

  &__boards {
    padding-bottom: 40px;
  }

  &__board {
    &:not(:first-of-type) {
      padding-top: 70px;
    }

    h2 {
      text-align: center;
    }
  }

  &__contact {
    margin-top: 3rem;
    padding-top: 5.25rem;
    padding-bottom: 4.5rem;
    position: relative;
    background-color: #f4f4f4;

    h2 {
      text-align: center;
      padding-bottom: 3rem;
    }
  }

  &__signUpFinal {
    @include edge-center(top);
  }

  &__bottomBar {
    box-shadow: 0 0 1rem rgba(#000, 0.3);
    padding: 1rem;
    z-index: 2;
    text-align: center;
    background-color: #fff !important;

    @media #{vw(max, sm)} {
      .et_pb_button {
        @include button-small;
      }
    }
  }
}
