@import '~theme/button';

.subboard {
  padding-top: 30px;

  &__heading {
    @media #{vw(max, sm)} {
      @include button-small;
    }

    @media #{vw(min, sm)} {
      @include button-standard('no');
    }

    .subboard & {
      @include button-primary-inverse;
    }
    @include button-add-arrow;
    @include button-multiline;
    width: 100%;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
  }

  &--active &__heading {
    #page-container & {
      @include button-primary;
      @include button-hover-primary;
    }
  }

  &__content {
    height: 0;
    overflow: hidden;

    &::before {
      content: ' ';
      display: block;
      height: 30px;
    }
  }

  &--active &__content {
    height: auto;
  }
}
