<section class="affiliates">
    <div class="affiliates__outerRow container">
        <h2>{{ heading }}</h2>
        <div class="affiliates__content">
            [logo_carousel_slider_pro id="3051"]
        </div>
    </div>
</section>
