{% if error %}
    <div class="container"><p>{{ error }}</p></div>
{% else %}
    <section class="bookings-page__form-section not-printable">
        <h1>Przegląd rezerwacji na wydarzenia</h1>
        <div class="container">
            <form class="bookingsSearchForm form-white">
                <div class="bookingsSearchForm__row">
                    <div class="bookingsSearchForm__col">
                        <h2 class="bookingsSearchForm__title">Zakres</h2>
                    </div>
                    <label class="bookingsSearchForm__col">
                        <span class="sr-only">Rok</span>
                        <input name="rok"
                               type="number"
                               min="{{ year.min }}"
                               max="{{ year.max }}"
                               value="{{ year.value }}"
                        >
                    </label>
                    <label class="bookingsSearchForm__col">
                        <span class="sr-only">Miesiąc</span>
                        <select name="miesiac" class="custom-select" data-placeholder="Miesiąc">
                            {% for value, name in month.options %}
                                <option value="{{ value }}"{% if value == month.value %} selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label class="bookingsSearchForm__col">
                        <span class="sr-only">Towarzystwo</span>
                        <select name="towarzystwo" class="custom-select" data-placeholder="Towarzystwo">
                            {% for id, name in branch.options %}
                                <option value="{{ id }}"{% if id and id == branch.value %} selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <div class="bookingsSearchForm__col bookingsSearchForm__button-col">
                        <button type="submit" class="bookingsSearchForm__button et_pb_button">Filtruj</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="bookings-page__table-section">
        {% if message %}
            <div class="container"><p>{{ message }}</p></div>
        {% endif %}
        {% if days %}
            <h2 class="not-printable">Dni</h2>
            <div class="table-scroller">
                <table class="bookingsTable">
                    <caption class="print-only">
                        Zestawienie rezerwacji: {{ month.value }}/{{ year.value }}
                        {% if branch.value %} - {{ attribute(branch.options, branch.value) }}{% endif %}
                    </caption>
                    {% set fullWidth = branch.value ? 3 : 4 %}
                    <thead>
                        <tr>
                            {% if not branch.value %}
                                <th class="bookingsTable__cell bookingsTable__cell--header bookingsTable__cell--lessImportant">
                                    Towarzystwo
                                </th>
                            {% endif %}
                            <th class="bookingsTable__cell bookingsTable__cell--header">Wydarzenie</th>
                            <th class="bookingsTable__cell bookingsTable__cell--header bookingsTable__cell--alignRight">
                                Osób
                            </th>
                            <th class="bookingsTable__cell bookingsTable__cell--header bookingsTable__cell--alignRight">
                                Przychód
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for day in days %}
                            <tr class="bookingsTable__row">
                                <td class="bookingsTable__cell bookingsTable__cell--day"
                                    colspan="{{ fullWidth }}">{{ day.date.text }}</td>
                            </tr>
                            {% for event in day.events %}
                                <tr class="bookingsTable__row{% if loop.index is even %} bookingsTable__row--even{% endif %}">
                                    {% if not branch.value %}
                                        <td class="bookingsTable__cell bookingsTable__cell--lessImportant">{{ event.branch }}</td>
                                    {% endif %}
                                    <td class="bookingsTable__cell">
                                        <a href="{{ event.permalink }}" target="_blank">{{ event.title }}</a></td>
                                    <td class="bookingsTable__cell bookingsTable__cell--monospace bookingsTable__cell--alignRight">{{ event.numberOfPeople }}</td>
                                    <td class="bookingsTable__cell bookingsTable__cell--monospace bookingsTable__cell--alignRight">{{ event.formattedIncome }}</td>
                                </tr>
                            {% endfor %}
                            {% if not loop.last %}
                                <tr class="bookingsTable__separator">
                                    <td colspan="{{ fullWidth }}"></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="bookingsTable__separator bookingsTable__separator--thick">
                            <td colspan="{{ fullWidth }}"></td>
                        </tr>
                        <tr>
                            {% if not branch.value %}
                                <td class="bookingsTable__cell bookingsTable__cell--lessImportant"></td>
                            {% endif %}
                            <td class="bookingsTable__cell"></td>
                            <td class="bookingsTable__cell bookingsTable__cell--summary bookingsTable__cell--monospace bookingsTable__cell--alignRight">{{ totalNumberOfPeople }}</td>
                            <td class="bookingsTable__cell bookingsTable__cell--summary bookingsTable__cell--monospace bookingsTable__cell--alignRight">{{ totalIncome }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        {% endif %}
    </section>
{% endif %}
