{% set key = random() %}

{% from 'mapTrigger.twig' import mapTrigger %}
<div class="bookingForm">
    <h1 class="bookingForm__title">{{ title }}</h1>
    <div>{{ date }}{% if address %}, {{ mapTrigger(address, 'link-underline') }}{% endif %}</div>
    <form
        action="{{ targetUrl }}"
        method="POST"
        class="form-white"
        {% if price %}
            data-price="{{ price }}"
            oninput="window.tbsa_onBookingFormChange(this)"
        {% endif %}
        {% if tickets %}
            oninput="window.tbsa_onTicketsBookingFormChange(this)"
        {% endif %}
    >
        <input type="hidden" name="event_checkout" value="1">
        <input type="hidden" name="event_id" value="{{ eventId }}">
        {% if tickets %}
            <div class="bookingFormTickets">
                <table>
                    <caption>Bilety</caption>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr{% if ticket.description %} class="with-description"{% endif %}>
                            <td data-height-group="bookingFormTickets__row" data-height-group-if="min-width: 560px">
                                <span class="bookingFormTickets__name">{{ ticket.label }}</span>
                                {% if ticket.description %}
                                    <a
                                        href="javascript:"
                                        class="bookingFormTickets__moreLink popoverLink"
                                    >{{ showTicketDescriptionText }}</a>
                                    <div
                                        class="bookingFormTickets__popover popoverLink__popover popoverLink__popover--static">
                                        {{ ticket.description }}
                                    </div>
                                {% endif %}
                                <input type="hidden" name="tickets[{{ loop.index0 }}][id]" value="{{ ticket.id }}">
                            </td>
                            <td>{{ ticket.formattedPrice }}</td>
                            <td>
                                <label class="bookingFormTickets__quantityPicker bookingForm__label">
                                    <input
                                        type="number"
                                        name="tickets[{{ loop.index0 }}][quantity]"
                                        value="0"
                                        min="0"
                                        class="bookingForm__input"
                                        data-price="{{ ticket.price }}"
                                    >
                                    osób
                                </label>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script>
                  window.tbsa_activatePopoverLinks();
                  window.tbsa_updateHeights();
                </script>
            </div>
        {% else %}
            <div class="bookingForm__inputRow">
                <label for="bookingForm-{{ key }}__quantity" class="bookingForm__label">Liczba osób:</label>
                <input
                    id="bookingForm-{{ key }}__quantity"
                    type="number"
                    name="quantity"
                    value="1"
                    min="1"
                    class="bookingForm__input bookingForm__input--large"
                >
            </div>
            {% if customCheckout %}
                <div class="customCheckout form-normal">
                    <div class="customCheckout__col">
                        <label for="bookingForm-{{ key }}__firstName">Imię:</label>
                        <input
                            id="bookingForm-{{ key }}__firstName"
                            name="first_name"
                            type="text"
                            value="{{ customCheckout.first_name }}"
                            required
                        >
                    </div>
                    <div class="customCheckout__col">
                        <label for="bookingForm-{{ key }}__lastName">Nazwisko:</label>
                        <input
                            id="bookingForm-{{ key }}__lastName"
                            name="last_name"
                            type="text"
                            value="{{ customCheckout.last_name }}"
                            required
                        >
                    </div>
                    <div class="customCheckout__col">
                        <label for="bookingForm-{{ key }}__email">E-mail:</label>
                        <input
                            id="bookingForm-{{ key }}__email"
                            name="email"
                            type="email"
                            value="{{ customCheckout.email }}"
                            required
                        >
                    </div>
                    <div class="customCheckout__col">
                        <label for="bookingForm-{{ key }}__phone">Telefon:</label>
                        <input
                            id="bookingForm-{{ key }}__phone"
                            name="phone"
                            type="tel"
                            value="{{ customCheckout.phone }}"
                            required
                        >
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <hr>
        <div class="bookingForm__footer">
            {% if formattedPrice or tickets %}
                <label>Razem:
                    <output name="total">{{ formattedPrice ?? '0 zł' }}</output>
                </label>
            {% endif %}
            <button type="submit" class="et_pb_button"{% if tickets %} disabled{% endif %}>{{ buyText }}</button>
        </div>
    </form>
</div>
