<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Rezerwacje na {{ title }} {{ date }}</title>
    <style>
        @page {
            font-family: "DejaVu Sans";
        }

        img {
            max-height: 5em;
        }

        .center {
            text-align: center;
        }


        table {
            width: 100%;
            font-size: 14px;
        }

        td {
            vertical-align: top;
            padding-left: .5em;
            padding-right: .5em;
        }

        .checkbox-cell {
            padding-top: .4em;
            width: 1em;
        }

        .checkbox {
            display: block;
            margin-bottom: .25em;
            width: 1em;
            height: 1em;
            border: 1px solid currentColor;
            color: white;
        }
    </style>

</head>
<body>
<img src='data:image/svg+xml,{{ imageData }}' alt="">
<div class="center">
    <h1>{{ title }}</h1>
    {{ date }}
</div>
<p>Łączna liczba osób: {{ numberOfPeople }}</p>
<table>
    <thead>
    <tr>
        <th></th>
        <th>Rodzaj biletu</th>
        <th>Imię i nazwisko</th>
        <th>E-mail</th>
        <th>Telefon</th>
    </tr>
    </thead>
    <tbody>
    {% for booking in bookings %}
        <tr{% if loop.index is odd %} style="background-color: #f4f4f4"{% endif %}>
            <td class="checkbox-cell">
                {% for i in 1..booking.numberOfPlaces %}
                    <span class="checkbox">_</span>
                {% endfor %}
            </td>
            <td>{{ booking.ticketId }}</td>
            <td>{{ booking.buyer.name }}</td>
            <td>{{ booking.buyer.email }}</td>
            <td>{{ booking.buyer.phone }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
