<main>
    {% include 'branchPage/header.twig' %}
    {% include 'branchPage/aboutEvents.twig' %}
    {% if slides %}
        <div class="container">
            {% include 'simpleSlider.twig' with { slides: slides } only %}
        </div>
    {% endif %}
    {% include 'branchPage/aboutEventCategories.twig' %}
    {% include 'branchPage/boards.twig' %}
    {% include 'branchPage/aboutTbsa.twig' with { heading: aboutTbsa.heading, sections: aboutTbsa.sections } only %}
    <div class="branchPage__contact" id="kontakt">
        <div class="branchPage__signUpFinal">{% include 'branchPage/signUpButton.twig' %}</div>
        {% if contact %}
            {% include 'branchPage/contact.twig' %}
        {% endif %}
    </div>
    <div class="branchPage__bottomBar bottomBar"
         data-bottom-bar-reference=".branchPage__signUpButton"
    >{% include 'branchPage/signUpButton.twig' %}</div>
</main>
