{% spaceless %}
    <div class="businessSearchPage js-business-search">
        {% if not isSingleEntrepreneurPage %}
            <section class="businessSearchPage__form">
                <div class="container">
                    <h1>{{ pageTitle }}</h1>
                    {% include 'businessSearchForm.twig' %}
                </div>
                <div class="businessSearchPage__spinner">
                    {% include 'lds-spinner.twig' %}
                </div>
            </section>
        {% endif %}
        <section class="businessSearchPage__results js-business-search-results-outer">
            <div class="businessSearchResults js-business-search-results-inner">
                {% if entrepreneurs %}
                    {% if showingFeatured %}
                        <h2 class="businessSearchResults__heading">Promowana firma dnia</h2>
                    {% endif %}
                    {% include 'businessSearchResults.twig' with {
                        entrepreneurs: entrepreneurs,
                        pagination: pagination,
                        dictionary: dictionary,
                        linkToEntrepreneur: not isSingleEntrepreneurPage
                    } only %}
                {% endif %}
            </div>
        </section>
    </div>
{% endspaceless %}
