<form class="businessSearchForm form-white js-business-search-form" action="{{ form.action }}">
    <div class="businessSearchForm__row">
        <div class="businessSearchForm__col businessSearchForm__title">{{ form.title }}</div>
        {% for field in form.fields %}
            <div class="businessSearchForm__col">
                {% include 'searchField.twig' %}
            </div>
        {% endfor %}
        <div class="businessSearchForm__col businessSearchForm__button-col">
            <button
                type="submit"
                class="businessSearchForm__button et_pb_button"
            >{{ form.submitText }}</button>
        </div>
    </div>
</form>
