<ul class="businessSearchPagination">
    {% for item in pagination.items %}
        {%
            set content =
                item.content == 'prev'
                    ? '<span class="divi-icon">8</span> Poprzednia strona '
                : item.content == 'next'
                    ? 'Następna strona <span class="divi-icon">9</span>'
                : item.content
        %}
        <li class="businessSearchPagination__item">
            <a href="{{ item.url }}">{{ content }}</a>
        </li>
    {% endfor %}
</ul>
