{% from './popoverLink.twig' import popoverLink %}
{% spaceless %}
    {% if error %}
        <h2>{{ error.message }}</h2>
    {% else %}
        {% if pagination %}
            {% include './businessSearchPagination.twig' with { pagination: pagination } only %}
        {% endif %}
        {% for entrepreneur in entrepreneurs %}
            <div class="businessSearchResult">
                <div class="businessSearchResult__row">
                    <div class="businessSearchResult__col align-center">
                        {% if entrepreneur.photo %}
                            <span
                                class="businessSearchResult__thumbnail"
                                style="background-image: url({{ entrepreneur.photo }})"
                            ></span>
                        {% endif %}
                        <div class="businessSearchResult__related">
                            {% for role in entrepreneur.businesses %}
                                {% if role.business.logo %}
                                    <a
                                        href="{{ role.business.url }}"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="businessSearchResult__relatedItem js-detect-image-orientation"
                                    >
                                        <img
                                            src="{{ role.business.logo }}"
                                            alt="{{ dictionary.goToBusiness }} {{ role.business.name }}"
                                        >
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="businessSearchResult__col">
                        <div class="businessHeader">
                            <div class="businessHeader__links divi-icons-color">
                                {% for link in entrepreneur.links %}
                                    {{ popoverLink(link, 'businessHeader__link') }}
                                {% endfor %}
                            </div>
                            <h2 class="businessHeader__title">{% if linkToEntrepreneur %}<a
                                    href="{{ entrepreneur.url }}">{% endif %}{{ entrepreneur.name }}{% if linkToEntrepreneur %}</a>{% endif %}
                            </h2>
                        </div>
                        <ul class="businessSearchResult__roles">
                            {% for role in entrepreneur.businesses %}
                                <li>
                                    {{ role.role }}
                                    <a
                                        href="{{ role.business.url }}"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                    >{{ role.business.name }}</a>
                                    {% if role.business.industries|length > 1 %}
                                        | {{ dictionary.industries }}:
                                        {{ role.business.industries|join(', ') }}
                                    {% else %}
                                        | {{ dictionary.industry }}: {{ role.business.industries[0] }}
                                    {% endif %}
                                    {% if role.business.locations %}
                                        | {{ role.business.locations|join(', ') }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="businessSearchResult__description">{{ entrepreneur.description }}</p>
                        {% if entrepreneur.activity %}
                            <h3 class="heading-sm-primary">{{ dictionary.activity }}</h3>
                            <ol class="list-primary">
                                {% for item in entrepreneur.activity %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                        {% if entrepreneur.media %}
                            <hr>
                            <div class="businessMedia businessMedia__row">
                                {% for item in entrepreneur.media %}
                                    <a
                                        href="{{ item.url }}"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="businessMedia__col businessMediaItem"
                                    >
                                        <div class="businessMediaItem__image">
                                            <img src="{{ item.image }}" alt="">
                                        </div>
                                        <div class="businessMediaItem__text">
                                            <h4>{{ item.title }}</h4>
                                            <p>{{ item.subtitle }}</p>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <span class="businessSearchResult__separatorIcon"></span>
            </div>
        {% endfor %}
    {% endif %}
    {% if pagination %}
        {% include './businessSearchPagination.twig' with { pagination: pagination } only %}
    {% endif %}
{% endspaceless %}
