<form class="categoryPicker">
    <div class="categoryPicker__row">
        {% for filter in filters %}
            {% set id = filterKey ~ '__' ~ filter.value %}
            <div class="categoryPicker__col">
                <div data-scroll-to="{{ scrollTo }}" data-scroll-time="500" data-scroll-threshold="300">
                    <input
                        name="{{ filterKey }}"
                        id="{{ id }}"
                        type="radio"
                        value="{{ filter.value }}"
                        class="sr-only js-filter-control"
                        {{ loop.first ? 'checked' }}
                    >
                    <label
                        for="{{ id }}"
                        class="categoryButton"
                    >{{ filter.label }}</label>
                </div>
            </div>
        {% endfor %}
    </div>
</form>
