<div class="DirectionalPagination">
    {% if pagination.previousPageUrl %}
        <div class="DirectionalPagination__item">
            <a href="{{ pagination.previousPageUrl }}">
                <span class="divi-icon">8</span> <span class="sr-only">{{ __('Poprzednia') }} </span>
            </a>
        </div>
    {% endif %}
    <div class="DirectionalPagination__item">
        <span class="DirectionalPagination__info">
            {{ __('Strona %s z %s')|format(pagination.currentPage, pagination.numberOfPages) }}
        </span>
    </div>
    {% if pagination.nextPageUrl %}
        <div class="DirectionalPagination__item">
            <a href="{{ pagination.nextPageUrl }}">
                <span class="sr-only">{{ __('Następna') }} </span><span class="divi-icon">9</span>
            </a>
        </div>
    {% endif %}
</div>
