<div class="eventPage">
    <div class="container">
        <div class="eventPage__topImage">
            {{ event.media.cover.markup }}
        </div>
        <section class="bg-white">
            <div class="eventPage__container">
                <h1 class="eventPage__title">{% if titleAsLink %}
                    <a href="{{ event.url }}">{% endif %}{{ event.title }}{% if titleAsLink %}</a>
                    <a href="{{ event.url }}" target="_blank" rel="noopener noreferrer">
                        <i class="fas fa-external-link-alt"></i></a>{% endif %}</h1>
                [share_buttons]
                <div class="eventPageSummaryRow">
                    <div class="eventPageSummaryRow__col">{% include 'eventMeta.twig' %}</div>
                    <div class="eventPageSummaryRow__col">
                        {% if event.isBookable %}
                            <div class="eventPriceBox">
                                {% if formattedPrice %}
                                    Cena:
                                    <div class="eventPriceBox__price">{{ formattedPrice }}</div>
                                {% endif %}
                                <a data-fancybox=""
                                   data-type="ajax"
                                   data-src="{{ buyUrl }}"
                                   href="javascript:"
                                   class="et_pb_button"
                                >{{ buyText }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        {% if bookings %}
            <section class="eventPage__container eventPageBookings">
                <div>
                    <h2>Rezerwacje</h2>
                    <a href="{{ bookings.pdfUrl }}"
                       class="et_pb_button button-sm eventPageBookings__headingButton"><span
                            class="fas fa-print"></span>&nbsp;&nbsp;&nbsp;PDF&nbsp;</a>
                </div>
                <p>Łączna liczba osób: {{ bookings.numberOfPeople }}</p>
                {% if bookings.bookings %}
                    <div class="table-scroller">
                        <table>
                            <thead>
                                <tr>
                                    <th>Miejsca</th>
                                    <th>Rodzaj biletu</th>
                                    <th>Imię i nazwisko</th>
                                    <th>E-mail</th>
                                    <th>Telefon</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in bookings.bookings %}
                                    <tr{% if loop.index is odd %} style="background-color: #fff"{% endif %}>
                                        <td>{{ booking.numberOfPlaces }}</td>
                                        <td>{{ booking.ticketId }}</td>
                                        <td>{{ booking.buyer.name }}</td>
                                        <td>{{ booking.buyer.email }}</td>
                                        <td>{{ booking.buyer.phone }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </section>
        {% endif %}
        {% if event.location %}
            <section>
                [google_map address="{{ event.location.address }}" extra_class="eventPage__map"]
            </section>
        {% endif %}
        {% if event.speakers %}
            <section class="bg-white eventPage__container">
                <h2 class="eventPage__heading">
                    {% if event.speakers|length > 1 %}
                        Prelegenci
                    {% else %}
                        Prelegent
                    {% endif %}
                </h2>
                <div>
                    {% for speaker in event.speakers %}
                        <div class="eventPageSpeaker eventPageSpeaker__row">
                            {% if speaker.photo %}
                                <div class="eventPageSpeaker__col">
                                    <div class="round-thumbnail"
                                         style="background-image: url({{ speaker.photo.getUrl('medium') }})"></div>
                                </div>
                            {% endif %}
                            <div class="eventPageSpeaker__col">
                                <h3 class="eventPageSpeaker__name">
                                    {% if speaker.url %}
                                        <a href="{{ speaker.url }}">{{ speaker.name }}</a>
                                    {% else %}
                                        {{ speaker.name }}
                                    {% endif %}
                                </h3>
                                <a href="{{ speaker.business.url }}"
                                   target="_blank"
                                   rel="noopener noreferrer"
                                   class="eventPageSpeaker__business"
                                >{{ speaker.business.name }}</a>
                                {% if speaker.description %}
                                    <div class="eventPageSpeaker__description reasonable-justify">
                                        {{ speaker.description }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
        {% if event.benefits|length > 0 %}
            <section class="eventPage__container bg-white">
                <h2 class="eventPage__heading">Korzyści ze spotkania</h2>
                <ol class="eventPageBenefits">
                    {% for benefit in event.benefits %}
                        <li>{{ benefit }}</li>
                    {% endfor %}
                </ol>
            </section>
        {% endif %}
        {% if event.description %}
            <section class="eventPageDescription">
                <div class="eventPageDescription__col">
                    <div class="eventPage__container">
                        <h2 class="eventPage__heading">Opis wydarzenia</h2>
                        <div class="reasonable-justify">{{ event.description }}</div>
                    </div>
                </div>
                {% if event.media.supplementary %}
                    <div class="eventPageDescription__col eventPageDescription__image">
                        <div class="eventPageDescription__image">{{ event.media.supplementary.markup('large') }}</div>
                    </div>
                {% endif %}
            </section>
        {% endif %}
        {% if event.agenda %}
            <section class="bg-white">
                <div class="eventPage__container">
                    <h2 class="eventPage__heading">Agenda</h2>
                    <div class="eventAgenda">
                        {% for part in event.agenda.parts %}
                            <div class="eventAgenda__part">
                                {% if part.title %}
                                    <h3 class="eventAgenda__heading">{{ part.title }}</h3>
                                {% endif %}
                                <table class="eventAgenda__table">
                                    <tbody>
                                        {% for item in part.items %}
                                            <tr>
                                                <td>{{ item.startTime }}</td>
                                                <td>{{ item.description }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
        {% if event.media.gallery %}
            <section>
                {% include 'simpleSlider.twig' with { slides: event.media.gallery } only %}
            </section>
        {% endif %}
        {% if event.isBookable %}
            <section class="eventPagePrompt">
                <div class="eventPage__container">
                    <h2 class="eventPagePrompt__heading">Zainteresowany wydarzeniem?</h2>
                    <div class="eventPagePrompt__row">
                        {% if formattedPrice %}
                            <div class="eventPagePrompt__col">
                                Cena:
                                <div class="eventPagePrompt__price">{{ formattedPrice }}</div>
                            </div>
                        {% endif %}
                        <div class="eventPagePrompt__col">
                            <a data-fancybox=""
                               data-type="ajax"
                               data-src="{{ buyUrl }}"
                               href="javascript:"
                               class="et_pb_button"
                            >{{ buyText }}</a>
                        </div>
                    </div>
                    [share_buttons]
                </div>
            </section>
        {% endif %}
    </div>
</div>
