<div
    class="
        eventCategoryButtons
        {% if accordion %}js-eventCategoryButtons{% else %}eventCategoryButtons--noAccordion{% endif %}
        {% if horizontal %}eventCategoryButtons--horizontal{% endif %}
        {% if style %} eventCategoryButtons--{{ style }}{% endif %}
        {{ extraClass }}
    ">
    {% for item in items %}
        <div
            class="eventCategoryButtons__group js-eventCategoryButtons__group{% if not accordion or loop.first %} eventCategoryButtons__group--active{% endif %}"
            data-event-category-id="{{ item.id }}">
            <div class="eventCategoryButtons__item eventCategoryButtons__item--category">
                <span class="eventCategoryButtons__categoryIcon"><img src="{{ item.icon }}" alt=""></span>
                <span class="eventCategoryButtons__categoryName">{{ item.label }}</span>
            </div>
            <div class="eventCategoryButtons__events js-eventCategoryButtons__events">
                {% for event in item.events %}
                    <a
                        href="{{ event.staticUrl }}"
                        {% if event.isExternal %}target="_blank" rel="noopener noreferrer"{% endif %}
                        class="eventCategoryButtons__item eventCategoryButtons__item--event mobile-only"
                    >
                        <span>{{ event.text }}</span>
                        {% if event.isBookable and badge %}
                            <span class="eventCategoryButtons__badge">{{ badge.text }}</span>
                        {% endif %}
                    </a>
                    <a
                        {% if event.ajaxUrl %}
                            data-fancybox
                            data-type="ajax"
                            data-src="{{ event.ajaxUrl }}"
                        {% endif %}
                        href="{{ event.staticUrl }}"
                        {% if event.isExternal %}target="_blank" rel="noopener noreferrer"{% endif %}
                        class="eventCategoryButtons__item eventCategoryButtons__item--event desktop-only"
                    >
                        <span>{{ event.text }}</span>
                        {% if event.isBookable and badge %}
                            <span class="eventCategoryButtons__badge">{{ badge.text }}</span>
                        {% endif %}
                    </a>
                {% endfor %}
                {% if item.moreEvents %}
                    <a
                        class="eventCategoryButtons__item eventCategoryButtons__item--event eventCategoryButtons__item--moreEvents"
                        href="{{ item.moreEvents.url }}"
                    >
                        <span>{{ item.moreEvents.text }}</span>
                        {% if item.moreEvents.badge %}
                            <span class="eventCategoryButtons__badge">{{ item.moreEvents.badge }}</span>
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
    {% else %}
        {% if noEventsMessage %}
            <p class="eventCategoryButtons__noEventsMessage">{{ noEventsMessage }}</p>
        {% endif %}
    {% endfor %}
    {% if branch %}
        <div class="eventCategoryButtons__group">
            <a href="{{ branch.url }}"
               class="eventCategoryButtons__branchLink et_pb_button button-fixed-width"
            >{{ branch.moreText }}</a>
        </div>
    {% endif %}
</div>
