<form {% if form.action %}action="{{ form.action }}"{% endif %} class="eventSearchForm js-eventSearchForm">
    {% for field in form.fields %}
        <div class="eventSearchForm__field eventSearchForm__field--type-{{ field.type }} eventSearchForm__field--name-{{ field.name }}">
            {% include 'searchField.twig' %}
        </div>
    {% endfor %}
    {% if form.submitText %}
        <div class="eventSearchForm__field eventSearchForm__buttonContainer">
            <button type="submit" class="eventSearchForm__button">{{ form.submitText }}</button>
        </div>
    {% endif %}
</form>
<div class="eventSearchForm__spinner">{% include 'lds-spinner.twig' %}</div>
