<table class="eventMeta">
    <tbody>
        <tr>
            <td>Rozpoczęcie:</td>
            <td>{{ start }}</td>
        </tr>
        {% if end %}
            <tr>
                <td>Zakończenie:</td>
                <td>{{ end }}</td>
            </tr>
        {% endif %}
        <tr class="eventMeta__separator">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        {% if event.location %}
            <tr>
                <td>Adres:</td>
                <td>{{ [event.location.title, event.location.address]|join(', ') }}</td>
            </tr>
        {% endif %}
        {% if event.category %}
            <tr>
                <td>Formuła:</td>
                <td>
                    <a href="{{ event.branch.url }}#event-category-{{ event.category.slug }}"
                       target="_blank"
                    >{{ event.category.title }}</a>
                </td>
            </tr>
        {% endif %}
        {% if event.industries.items %}
            <tr>
                <td>{{ event.industries.items|length > 1 ? 'Branże' : 'Branża' }}:</td>
                <td>{{ event.industries.items|join(', ') }}</td>
            </tr>
        {% endif %}
        {% if event.branch %}
            <tr>
                <td>Organizator:</td>
                <td><a href="{{ event.branch.url }}" target="_blank">{{ event.branch.name }}</a></td>
            </tr>
        {% endif %}
        {% if event.contact.phone %}
            <tr class="eventMeta__contact">
                <td>Telefon:</td>
                <td><a href="tel:{{ event.contact.phone }}">{{ event.contact.phone }}</a></td>
            </tr>
        {% endif %}
        {% if event.contact.email %}
            <tr class="eventMeta__contact">
                <td>Email:</td>
                <td>
                    <a href="mailto:{{ event.contact.email }}"
                    >{{ event.contact.email|replace({ '@': '@<wbr>' }) }}</a>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
