{% from 'mapTrigger.twig' import mapTrigger %}
<div class="homeEventSummary">
    <div class="homeEventSummary__image">{{ image }}</div>
    <div class="homeEventSummary__content">
        <div class="homeEventSummary__meta">
            <span>{{ date }}{% if address %} |&nbsp;{% endif %}</span>
            {% if address %}{{ mapTrigger(address, 'homeEventSummary__address') }}{% endif %}
        </div>
        <h3 class="homeEventSummary__title">{{ title }}</h3>
        {% if excerpt %}
            <div class="homeEventSummary__excerpt">{{ excerpt }}</div>
        {% endif %}
        {% if price %}
            <div class="homeEventSummary__price">{{ price.label }}: {{ price.formattedValue }}</div>
        {% endif %}
        <div class="homeEventSummary__buttons">
            {% if buyButton %}
                <a
                    class="et_pb_button"
                    {% if buyButton.external %}
                        target="_blank"
                        rel="noopener noreferrer"
                        href="{{ buyButton.url }}"
                    {% else %}
                        data-fancybox=""
                        data-type="ajax"
                        data-src="{{ buyButton.url }}"
                        href="javascript:"
                    {% endif %}
                >{{ buyButton.text }}</a>
            {% endif %}
            {% if moreButton %}
                <a
                    href="{{ moreButton.staticUrl }}"
                    class="et_pb_button btn-primary-inverse button-sm mobile-only"
                >{{ moreButton.text }}</a>
                <a
                    data-fancybox=""
                    data-type="ajax"
                    data-src="{{ moreButton.ajaxUrl }}"
                    href="{{ moreButton.staticUrl }}"
                    class="et_pb_button btn-primary-inverse button-sm desktop-only"
                >{{ moreButton.text }}</a>
            {% endif %}
        </div>
    </div>
</div>
