<div
    class="googleMap__outer{% if extraClass %} {{ extraClass }}{% endif %}"
    {% if height %}style="height: {{ height }}px{% endif %}"
>
    <div class="googleMap__inner">
        <iframe
            class="google-map"
            width="100%"
            height="100%"
            src="{{ src }}"
            tabindex="-1"
        ></iframe>
    </div>
</div>
