<div class="homeMapBlock">
    <div class="homeMapBlock__row">
        <div class="homeMapBlock__col">
            <h3 class="homeMapBlock__prompt">{{ prompt }}</h3>
            <div class="homeMapBlock__options homeMapBlock__options--transitioning">
                <ul class="homeMapBlock__branches">
                    {% for branch in branches %}
                        <li
                            class="homeMapBlock__branch"
                            data-branch-id="{{ branch.id }}"
                            data-region="{{ branch.location.voivodeship }}"
                        >
                            <a
                                href="{{ branch.url }}"
                                class="homeMapBlock__branchLink"
                            >{{ branch.location.town }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="homeMapBlock__eventCategoriesOuter">
                    <div class="homeMapBlock__eventCategoriesInner"></div>
                    {% include 'lds-spinner.twig' %}
                </div>
            </div>
        </div>
        <div class="homeMapBlock__col">
            {% include 'mapOfPoland.twig' with { regions: regions } only %}
        </div>
    </div>
</div>
