<div class="homeCalendarModule" id="homeCalendarModule">
    <div class="homeCalendarModule__row">
        <div class="homeCalendarModule__col">
            <div
                class="homeCalendarModule__block"
                id="homeCalendarModule__selectionBlock"
            >
                <div
                    class="homeCalendarModule__calendarContainer"
                    id="homeCalendarModule__calendarContainer"
                >
                    [events_calendar{% if year and month %} year={{ year }} month={{ month }}{% endif %}]
                </div>
                <div class="homeEvents" id="homeEvents">
                    <div
                        id="homeEvents__content"
                        class="homeEvents__content mCustomScrollbar"
                        data-mcs-theme="dark-3"
                    >
                        <div id="homeEvents__list"></div>
                        <div class="homeEvents__spinner">{% include 'lds-spinner.twig' %}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="homeCalendarModule__col">
            <div class="homeCalendarModule__section">
                <div
                    class="homeCalendarModule__block homeCalendarModule__summaryContainer homeCalendarModule__summaryContainer--fading"
                    id="homeCalendarModule__summaryContainer"
                ></div>
            </div>
        </div>
    </div>
</div>
