<h2 class="initiatives__heading">{{ heading }}</h2>
<div class="initiatives__eventCategories">
    [event_categories accordion=0 horizontal=1 style="bordered"]
</div>
{% include 'categoryPicker.twig' with {
    filterKey: 'initiatives',
    filters: filters,
    scrollTo: '#initiatives'
} only %}
<div id="initiatives" style="transform: translateY(-2rem)"></div>
{% for category in byCategory %}
    <div
        class="js-filter-subject"
        data-filter-key="initiatives"
        data-filter-value="{{ category.value }}"
    >
        <h3 class="initiativeCategory__heading">{{ category.heading }}</h3>
        {% if category.description %}
            <div class="initiativeCategory__description">{{ category.description }}</div>
        {% endif %}
        <div class="initiatives__row">
            {% for initiative in category.initiatives %}
                <div class="initiatives__col">
                    <div class="initiative spread-height">
                        <div>
                            <a
                                href="{{ initiative.url }}"
                                rel="noopener noreferrer"
                                target="_blank"
                                class="initiative__thumbnail"
                            >
                                {{ initiative.thumbnail }}
                            </a>
                            <h4>{{ initiative.title }}</h4>
                            <p>{{ initiative.description }}</p>
                        </div>
                        <div class="initiativeButtons__row">
                            <div class="initiativeButtons__col">
                                <a class="et_pb_button button-sm button-fixed-width"
                                   href="{{ initiative.url }}"
                                   rel="noopener noreferrer"
                                   target="_blank">{{ goToPageText }}</a>
                            </div>
                            {% if initiative.applyUrl %}
                                <div class="initiativeButtons__col">
                                    <a class="et_pb_button button-sm button-fixed-width"
                                       href="{{ initiative.applyUrl }}"
                                       rel="noopener noreferrer"
                                       target="_blank">Weź udział</a>
                                </div>
                            {% endif %}
                            {% if initiative.subscribeUrl %}
                                <div class="initiativeButtons__col">
                                    <a class="et_pb_button button-sm button-fixed-width"
                                       href="{{ initiative.subscribeUrl }}"
                                       rel="noopener noreferrer"
                                       target="_blank">Subskrybuj</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
