<div class="languageSwitcher__container">
    <div class="languageSwitcher" style="height: {{ languages|length }}00%">
        {% for language in languages %}
            {% if loop.first %}
                <span class="languageSwitcher__option">{{ language.code|upper }}<span class="divi-icon divi-icon--carrot-down"></span></span>
            {% else %}
                <a class="languageSwitcher__option" href="{{ language.url }}">{{ language.code }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
