<div class="magPage lists-primary">
    <div class="container">
        <h1 class="magPage__title">{{ pageTitle }}</h1>
        <div class="magPage__topContent">
            {{ topContent }}
        </div>
        <div class="magPage__row">
            <div class="magPage__col">
                <section class="magPage__block">
                    <div class="magIssue__row">
                        <div class="magIssue__col">
                            <div class="magIssue__cover"><img src="{{ currentIssue.cover }}" alt=""></div>
                            {% for button in buttonsUnderCover %}
                                <a href="{{ button.href }}"
                                   class="magPage__button et_pb_button button-no-arrow {{ button.class }}"
                                >{{ button.label }}</a>
                            {% endfor %}
                        </div>
                        <div class="magIssue__col">
                            <h2 class="magIssue__title">{{ currentIssue.title }}</h2>
                            {% if currentIssue.about %}
                                <div class="magIssue__about">{{ currentIssue.about }}</div>{% endif %}
                        </div>
                    </div>
                    {% if currentIssue.contents %}
                        <div class="magIssue__contents">
                            <h3 class="heading-sm-primary">{{ currentIssue.contentsHeading }}</h3>
                            <ol>
                                {% for item in currentIssue.contents %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    {% endif %}
                </section>
                <section class="magPage__block magOtherIssues">
                    <h2 class="magOtherIssues__heading">{{ otherIssuesHeading }}</h2>
                    <div class="magOtherIssues__row">
                        {% for issue in otherIssues %}
                            <div class="magOtherIssues__col">
                                <a href="{{ issue.url }}"
                                   target="_blank"
                                   rel="noopener noreferrer"
                                ><img src="{{ issue.cover }}" alt="{{ issue.title }}"></a>
                                <h3 class="magOtherIssues__title">{{ issue.title }}</h3>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="magPage__col magPage__sidebar">
                {% for block in sidebar %}
                    <section class="magPage__block">
                        <h3 class="heading-sm-primary">{{ block.heading }}</h3>
                        {{ block.content }}
                    </section>
                {% endfor %}
            </div>
        </div>
    </div>
    <section class="magSubscribe color-light" id="subscribe">
        <div class="container">
            <div class="magSubscribe__row">
                <div class="magSubscribe__col">
                    <div class="magSubscribe__images">
                        <img
                            class="invisible"
                            src="{{ subscribe.images[0].src }}"
                            alt=""
                        >
                        {% for image in subscribe.images|reverse %}
                            <img
                                class="magSubscribe__imageLayer"
                                src="{{ image.src }}"
                                alt="{{ image.alt }}"
                                style="transform: rotate({{ image.rotation }}deg)"
                            >
                        {% endfor %}
                    </div>
                </div>
                <div class="magSubscribe__col">
                    <h2 class="magSubscribe__heading">{{ subscribe.heading }}</h2>
                    [tbsa_magazine_form]
                </div>
            </div>
        </div>
    </section>
</div>
