{% macro overlay(x, y, text) %}
    <circle class="tbsa-map__badge" cx="{{ x }}" cy="{{ y }}" r="24"/>
    <text class="tbsa-map__text"
          x="{{ x }}"
          y="{{ y }}"
          text-anchor="middle"
          dominant-baseline="central"
    >{{ text }}</text>
{% endmacro %}

{% macro region(code, pathData, badge, disabled) %}
    {% from _self import overlay %}
    <g class="tbsa-map__region tbsa-map__region={{ code }}{% if disabled %} tbsa-map__region--disabled{% endif %}">
        <path d="{{ pathData }}"></path>
        {{ overlay(badge.x, badge.y, badge.text) }}
    </g>
{% endmacro %}

{% from _self import region %}

<svg viewBox="0 0 612.757 577.232" class="tbsa-map">
    {% for code, region in regions %}
        {{ region(code, region.path, region.badge, region.disabled) }}
    {% endfor %}
</svg>
