{% macro mapTrigger(address, class) %}
    <a
        data-fancybox=""
        href="https://www.google.com/maps/search/?api=1&amp;query={{ address|url_encode }}"
        {% if class %}class="{{ class }}"{% endif %}
    >{{ address }}</a>
{% endmacro %}
