{% macro popoverLink(link, extraClass = '') %}
    {% if link.key %}
        <span class="{{ extraClass }} popoverLink"
              data-href="{{ link.href }}"
              data-link-key="{{ link.key }}"
              tabindex="0"
        >{{ link.content }}</span>
    {% else %}
        <a class="{{ extraClass }}"
           href="{{ link.href }}"
           target="_blank"
           rel="noopener noreferrer"
        >{{ link.content }}</a>
    {% endif %}
{% endmacro %}
