{% spaceless %}
    <div class="postsGrid">
        {% for post in posts %}
            <div class="postsGrid__col">
                <div class="postSummary">
                    <a href="{{ post.permalink }}" class="postSummary__image">{{ post.image }}</a>
                    <div class="postSummary__content">
                        <div class="postSummary__middle">
                            <div class="postSummary__meta">{{ post.date }}</div>
                            <h{{ headingLevel }} class="postSummary__title">
                                <a href="{{ post.permalink }}">{{ post.title }}</a>
                            </h{{ headingLevel }}>
                            <p class="postSummary__excerpt">{{ post.excerpt }}</p>
                        </div>
                        <div class="postSummary__footer">
                            <a href="{{ post.permalink }}" class="postSummary__button">{{ buttonText }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endspaceless %}
