<div class="postFooter">
    {% if legal %}
        <div class="postFooter__legal">{{ legal }}</div>
    {% endif %}
    <div class="postFooter__share">[share_buttons]</div>
    <div class="postFooter__subscribe">
        <h2>Zapisz się na newsletter i bądź na bieżąco</h2>
        [tbsa_newsletter_form style="white"]
    </div>
</div>
