<div class="initiative spread-height">
    <div>
        <a
            href="{{ initiative.details.url }}"
            rel="noopener noreferrer"
            target="_blank"
            class="regularInitiative__thumbnail"
        >
            <img src="{{ initiative.details.thumbnail }}" alt="{{ initiative.title }}">
        </a>
        <h4>{{ initiative.title }}</h4>
        <p>{{ initiative.details.description }}</p>
    </div>
    <div class="clearfix align-right">
        <a class="et_pb_button button-sm"
           href="{{ initiative.details.url }}"
           rel="noopener noreferrer"
           target="_blank">{{ goToPageText }}</a>
    </div>
</div>
