<label class="searchField js-searchField" data-field-type="{{ field.type }}">
    {% if not visibleLabels %}
        <span class="sr-only">{{ field.label }}</span>
    {% else %}
        <span class="searchField__label">{{ field.label }}</span>
    {% endif %}
    {% if field.type == 'select' %}
        {% include 'searchFields/select.twig' %}
    {% elseif field.type == 'date' %}
        {% include 'searchFields/date.twig' %}
    {% else %}
        {% include 'searchFields/default.twig' %}
    {% endif %}
</label>
