<div class="secondaryTopNav {{ modifier ? 'secondaryTopNav--' ~ modifier }} divi-icons-hover-color">
    {% for link in links %}
        <a class="secondaryTopNav__element"
           target="_blank"
           rel="noopener noreferrer"
           href="{{ link.href }}"
        >{{ link.content }}</a>
    {% endfor %}
    {% if login %}
        <div class="secondaryTopNav__element">
            <a href="{{ login.url }}"
               class="secondaryTopNav__textLink"
            >{{ __('Zaloguj') }}</a>
        </div>
    {% endif %}
    {% if myAccount %}
        <div class="secondaryTopNav__element">
            <a href="{{ myAccount.url }}"
               class="secondaryTopNav__textLink"
            >{{ __('Moje konto') }}</a>
        </div>
    {% endif %}
    {% if logout %}
        <div class="secondaryTopNav__element">
            <a href="{{ logout.url }}"
               class="secondaryTopNav__textLink"
            >{{ __('Wyloguj') }}</a>
        </div>
    {% endif %}
    {% if switcher %}
        <div class="secondaryTopNav__element">{{ switcher }}</div>
    {% endif %}
</div>
