{% for button in buttons %}
    <a
        class="shareButton js-share-button shareButton--{{ button.medium }}"
        href="{{ button.href }}"
        target="_blank"
        rel="noopener noreferrer"
    >{{ button.icon }} {{ button.label }}</a>
{% endfor %}
