<div class="js-simple-slider">
    {% for slide in slides %}
        <a href="{{ slide.src ?: slide.url }}" data-fancybox="gallery">{{ slide.markup }}</a>
    {% endfor %}
</div>
<script>if (typeof window.tbsa_simpleSlider === 'function') window.tbsa_simpleSlider();</script>
