<ul class="sloganButtons">
    {% for button in buttons %}
        <li class="sloganButtons__item">
            <a href="{{ button.url }}"
               class="et_pb_button"
            >{{ button.label }}</a>
        </li>
    {% endfor %}
</ul>
