<div class="smallEventList">
    {% for part in parts %}
        <div class="smallEventList__part">
            <h3 class="smallEventList__heading">{{ part.heading }}</h3>
            {{ part.events }}
        </div>
    {% endfor %}
</div>
