{% macro footer(author) %}
    <div class="testimonialFooter">
        <h3 class="testimonialFooter__name">{{ author.name }}</h3>
        {% if author.business %}
            <p class="testimonialFooter__business">
                <a
                    href="{{ author.business.url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                >{{ author.business.name }}</a>
            </p>
        {% endif %}
        {% if author.branch %}
            <p class="testimonialFooter__branch">
                <a href="{{ author.branch.url }}">{{ author.branch.name }}</a>
            </p>
        {% endif %}
    </div>
{% endmacro %}

{% import _self as macros %}

<div class="videoTestimonials">
    {% for testimonial in videoTestimonials %}
        <div class="videoTestimonials__col">
            {{ testimonial.video }}
            {{ macros.footer(testimonial.author) }}
        </div>
    {% endfor %}
</div>

<div class="peopleRow">
    {% for testimonial in textTestimonials %}
        <div class="peopleRow__col">
            <div class="personBox personBox--split">
                <div>
                    <div class="personBox__imageRow">
                        <div class="round-thumbnail"
                             style="background-image: url({{ testimonial.author.photo }})"></div>
                    </div>
                    <p class="testimonial">{{ testimonial.content }}</p>
                </div>
                {{ macros.footer(testimonial.author) }}
            </div>
        </div>
    {% endfor %}
</div>
