<div class="whatWeAre">
    <div class="whatWeAre__logo">
        {{ svg(logoSrc, { classes: 'whatWeAre__logoImage fill-white' }) }}
    </div>
    <div class="whatWeAre__row">
        {% for item in items %}
            <div class="whatWeAre__col">
                <img src="{{ item.imgSrc }}" alt="">
                <h4 class="whatWeAre__label">{{ item.text }}</h4>
                <div class="whatWeAre__separator">
                    {% if not loop.last %}
                        {{ svg('plus.svg') }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
