@import '../../~sass-utils/flex-row';
@import '~theme/button';

.businessSearchForm {
  @include flex-row(
    $gutter: 10px,
    $map: (
      vw(min, xs): (
        100%,
        100%,
        50%,
        50%,
        100%
      ),
      vw(min, md): (
        18%,
        32%,
        18%,
        18%,
        14%
      )
    )
  );

  &__row {
    align-items: center;
  }

  &__title {
    text-align: center;
  }

  &__button-col {
    text-align: right;
  }

  &__button {
    @include button-white;

    @media #{vw(min, lg)} {
      min-width: 100%;
    }
  }
}
