.businessHeader {
  &__title {
    padding-bottom: 0;
    padding-right: 1em;

    & > a:hover {
      text-decoration: underline;
    }
  }

  &__links {
    display: flex;
    order: 2;
  }

  &__link {
    display: inline-flex;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;

    background-color: #f3f3f3;
    transition: background-color 0.5s;
    &:hover,
    &:focus {
      background-color: transparent;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  @media #{vw(min, md)} {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
