@import '../../~sass-utils/flex-row';

.businessMedia {
  @include flex-row(
    $gutter: 20px,
    $map: (
      vw(min, md): 2
    )
  );
}

.businessMediaItem {
  $breakpoint: 360px;
  @media (min-width: $breakpoint) {
    display: flex;
    align-items: center;

    &__image {
      flex: 1;
      padding-right: 20px;
    }

    &__text {
      flex: 1;
    }
  }

  @media not all and (min-width: $breakpoint) {
    text-align: center;

    &__image {
      padding-bottom: 1rem;
    }
  }

  line-height: 1.2;

  transition: background-color 0.3s;
  &:hover,
  &:focus {
    background-color: #f3f3f3;
  }

  h4 {
    padding-bottom: 0.5em;
    font-family: theme('font.family.primary');
    font-weight: bold;
  }
}
