.businessSearchPage {
  $form-padding-vertical: 100px;

  background-color: #f3f3f3;

  .container {
    max-width: 1200px;
  }

  h1 {
    padding-bottom: 36px;
    text-align: center;
    font-weight: bold;
  }

  &__form {
    padding-top: $form-padding-vertical;
    padding-bottom: $form-padding-vertical;
    background-color: theme('color.primary.strong');
    color: #fff;

    position: relative;
  }

  &__spinner {
    position: absolute;
    left: 50%;
    bottom: $form-padding-vertical * 0.5;
    transform: translate(-50%, 50%);
    opacity: 0;
    z-index: 999;

    .loading & {
      opacity: 1;
    }
  }

  &__results {
    transition: opacity #{theme('businessSearch.animationDuration') / 2}ms;
    .loading & {
      opacity: 0;
    }
  }
}
