@import '~theme/pagination';

.businessSearchPagination {
  @include theme-pagination-container($item-selector: '&__item');

  @media #{vw(max, xs)} {
    &:first-child {
      padding-top: 29px;
    }

    &:last-child {
      padding-bottom: 29px;
    }
  }

  @media #{vw(min, xs)} {
    &:first-child {
      padding-bottom: 58px;
    }

    &:last-child {
      padding-top: 58px;
    }
  }

  &__item > a {
    @include theme-pagination-link;
  }

  .divi-icon {
    display: inline-block;
    transform: translateY(0.1em);
  }
}
