@import '../../~sass-utils/flex-row';
@import '../../~sass-utils/ratio-sizes';
@import '~theme/container';
@import '~theme/heading';
@import '~theme/horizontal-rule';
@import '~theme/image-link';

.businessSearchResult {
  $breakpoint-name: xs;
  $background-color: #fff;

  &s {
    background-color: $background-color;

    @media #{vw(min, $breakpoint-name)} {
      @include container;
      background-color: inherit;

      &:not(:empty) {
        padding-top: 58px;
        padding-bottom: 58px;
      }
    }

    &__notFound {
      text-align: center;

      @media #{vw(max, $breakpoint-name)} {
        padding-top: 58px;
        padding-bottom: 100px;
      }
    }

    &__heading {
      text-align: center;
      padding-bottom: 58px;

      @media #{vw(max, $breakpoint-name)} {
        padding-top: 58px;
        padding-bottom: 29px;
      }
    }
  }

  padding-top: 30px;
  padding-bottom: 30px;
  @media #{vw(max, $breakpoint-name)} {
    @include container;
  }
  @media #{vw(min, $breakpoint-name)} {
    padding-left: 30px;
    padding-right: 30px;
  }

  background-color: $background-color;
  position: relative;

  &:not(:last-of-type) {
    @include horizontal-rule;
  }

  @include flex-row(
    $row-selector: '&__row',
    $col-selector: '&__col',
    $gutter: 30px,
    $map: (
      vw(min, sm): (
        30%,
        70%
      )
    )
  );

  &__thumbnail {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border: 1px solid #f3f3f3;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 102%;
  }

  &__related {
    text-align: center;

    &Item {
      display: block;
      box-sizing: content-box;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      @include theme-image-link;
      @include ratio-sizes;
    }
  }

  &__roles {
    padding-bottom: 1rem;
    color: theme('color.dark.dim');

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__description {
    text-align: justify;
  }

  h3 {
    @include heading-sm-primary;
    padding-top: 1rem;
  }

  &:not(:last-of-type) &__separatorIcon {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    z-index: 1;

    &::before {
      display: block;
      width: 25px;
      height: 25px;
      content: url('~assets/plus-primary.svg');
    }
  }
}
