@import '~theme/heading';

.initiativeCategory {
  &__heading {
    @include heading-sm-primary;
    text-align: center;
  }

  &__description {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 2rem;
  }
}
