@import '~theme/button';
@import '../../~sass-utils/full-height';
@import '../../~sass-utils/wh-ratio';

.initiative {
  $transition: 0.5s;

  @include full-height-take;
  padding: 2rem;
  background-color: #fff;

  &__thumbnail {
    // Height is set as a proportion of width using JavaScript & HTML data-height-width-ratio attribute

    display: block;
    margin-bottom: 30px;
    @include wh-ratio(1, 0.518);
    border: 1px solid #f3f3f3;
    position: relative;
    transition: $transition;

    &:hover {
      opacity: 0.65;

      & > img {
        transform: translate(-50%, -50%) scale(1.05);
      }
    }

    & > img {
      max-width: calc(100% - 2rem);
      max-height: calc(100% - 2rem);
      object-fit: contain;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: $transition;
    }
  }

  h4 {
    font-size: theme('font.size.heading.base');
    padding-bottom: 22px;
  }

  p {
    padding-bottom: 26px !important;
  }
}
