@import '../../~sass-utils/flex-row';
@import '../../~sass-utils/full-height';

.initiatives {
  &__heading {
    padding-bottom: 38px;
  }

  &__eventCategories {
    padding-bottom: 10px;
  }

  &__row {
    padding-bottom: 30px;

    @include flex-row(
      $row-selector: &,
      $col-selector: '& .initiatives__col',
      $gutter: 21px,
      $map: (
        vw(min, md): 2
      )
    );
  }

  &__col {
    @include full-height-enable;
  }
}
