@import '~theme/button';
@import '~theme/input';

.my-account-panel {
  .button {
    &.button-primary {
      @include button-primary;

      &:hover {
        color: theme('color.light.full');
      }
    }

    #page-container &.button-large {
      @include button-standard($color: no, $shift-on-hover: false);
      @include button-constant-width($shift-on-hover: false);
    }

    &:not(.button-large) {
      @include button-small;
    }
  }

  .button, .et_pb_button {
    text-decoration: none;

    &:focus {
      @include input-focus-effect;
    }
  }
}
