@import '~theme/container';

body:not(.logged-in) {
  .my-account-page {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: theme('color.gray.veryLight');

    &__container {
      @include container;
    }
  }

  h2 {
    text-align: center;
    padding-bottom: 2rem;
  }

  .woocommerce-form-login {
    margin: 0 auto;
    max-width: 480px;
    border: none;
    background-color: white;
    box-shadow: 0 40px 70px rgba(black, 0.1);

    .button-row {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      // Remove clearfix, which messes up flexbox spacing
      &::before,
      &::after {
        content: none;
      }

      @media #{vw(min, sm)} {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    .button {
      margin-top: 1.5rem;
      margin-bottom: 0.9rem;

      @media #{vw(min, sm)} {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.woocommerce-LostPassword {
  text-align: center;

  @media #{vw(min, sm)} {
    text-align: left;
  }

  > a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.woocommerce-ResetPassword {
  .form-row:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}
