@import '~theme/input';

#et-main-area > :first-child {
  flex: initial;
}

.woocommerce-MyAccount-navigation {
  float: none !important;
  width: initial !important;

  > ul {
    list-style: none !important;
    padding-left: 0;
  }

  &-link {
    > a {
      display: block;
      padding: 0.5rem 1rem;
      text-decoration: none;
      background-color: theme('color.gray.veryLight');

      &:hover {
        background-color: white;
      }
    }

    &.is-active > a {
      background-color: theme('color.primary.strong');
      color: white;
    }
  }
}

.woocommerce-MyAccount-content {
  float: none !important;
}

.woocommerce-form__input-checkbox {
  + span::before {
    @include input-focus-transition;
  }

  &:focus + span::before {
    @include input-focus-effect;
  }
}
