@import '~theme/container';
@import 'config';

.logged-in .my-account-page {
  background-color: theme('color.gray.veryLight');

  @media #{vw(min, xl)} {
    padding-top: 58px;
    padding-bottom: 58px;

    &__container {
      padding-left: theme-container-sm-padding();
      padding-right: theme-container-lg-padding();
    }
  }
}
