@import '~theme/container';
@import '~sass-utils/gutter';
@import 'config';

.my-account-panel {
  h1,
  h2 {
    padding-bottom: 1rem;
  }
}

.my-account-panel__menu,
.woocommerce-MyAccount-content {
  padding: 40px;
}

.woocommerce-MyAccount-content {
  background-color: white;
  width: 100% !important;
}

@media #{vw(max, $my-account-layout-breakpoint)} {
  .my-account-panel__menu {
    text-align: center;
  }

  .my-account-panel__menu,
  .woocommerce-MyAccount-content {
    @include theme-container-padding;
  }
}

@media #{vw(min, $my-account-layout-breakpoint)} {
  .logged-in .my-account-panel > .woocommerce {
    display: flex;
    justify-content: flex-end;
  }

  .my-account-panel__menu {
    flex-shrink: 0;
    padding-right: 2rem;
  }

  .my-account-panel__menu,
  .woocommerce-MyAccount-content {
    padding: 40px;
  }

  .woocommerce-MyAccount-content {
    max-width: $theme-container-max-width;
  }
}
