@import '~theme/input';

.submission-comments {
  clear: both;
  padding-top: 4rem;

  > h2 {
    text-align: center;
  }

  textarea {
    color: theme('color.dark.full') !important;
  }

  .submit {
    border: none !important;
    background-color: theme('color.primary.strong');
    color: white !important;
    @include input-focus-transition;

    &:focus {
      @include input-focus-effect($important: true);
    }
  }

  .comment {
    padding: 1.5rem;
    background-color: #f3f3f3;

    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }

  .comment-author {
    float: left;
    padding-bottom: 0.5rem;

    > img {
      vertical-align: middle;
    }
  }

  .comment-meta {
    float: right;

    + * {
      clear: both;
    }
  }

  .comment-edit-link {
    display: none;
  }
}
