@import '~theme/input';
@import '~sass-utils/sr-only';

.talk-form-group {
  margin-left: -1rem !important;
  margin-right: -1rem !important;

  > .acf-label {
    padding-top: 4rem;
    text-align: center;
    font-size: 2rem;
  }

  > .acf-input {
    &,
    > .acf-repeater > .acf-table > tbody > .acf-row {
      > .acf-fields {
        > .acf-field {
          border-top-width: 1px !important;
          padding: 2rem 1rem !important;
          transition: 0.1s;

          &:focus-within {
            background-color: theme('color.gray.veryLight');
          }
        }
      }
    }
  }

  &,
  > .acf-input > .acf-repeater > .acf-table,
  > .acf-input > .acf-fields {
    border: none !important;
    padding: 0 !important;
  }
}

.talk-form {
  .acf-tab-wrap {
    margin-bottom: 2rem;
    background: initial !important;
    text-align: center;

    a {
      border: none !important;
      padding: 0.5rem 1rem !important;
      font-size: theme('font.size.heading.xs');
      background-color: initial !important;
      color: initial;
    }
  }

  .acf-tab-group {
    display: inline-block;
    border: none !important;

    > .active {
      > a {
        background-color: theme('color.primary.full') !important;
        color: white;
      }
    }
  }

  [data-name='benefits'] {
    thead {
      display: none;
    }

    input[type='text'] {
      font-size: theme('font.size.regular.base') !important;
    }
  }

  .description {
    font-size: theme('font.size.regular.sm');
    line-height: 1.25;
  }

  .acf-table {
    max-width: 100% !important;
  }

  .acf-input {
    font-size: 1rem;
  }

  @include form-inputs {
    font-size: theme('font.size.regular.lg') !important;

    &,
    &:focus {
      border: none;
    }

    &,
    &::placeholder {
      color: inherit;
    }
  }

  .acf-field-true-false {
    input[type='checkbox'] {
      @include sr-only;
    }

    .message {
      &::before {
        @include input-normal;

        display: inline-block;
        margin-right: 0.5rem;
        width: 20px;
        height: 20px;
        vertical-align: bottom;
        position: relative;
        text-align: center;
        cursor: pointer;

        font-family: ETmodules;
        font-size: 14px;
        font-weight: bold;
        content: '\4e';

        color: transparent;
      }
    }

    input:checked + .message::before {
      color: inherit;
    }
  }

  .acf-bottom-buttons-row {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media #{vw(min, sm)} {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .acf-form-submit {
    input {
      margin-top: 2rem;
    }

    > input {
      float: right;
    }
  }

  .acf-field {
    &[data-name=owners],
    &[data-name=event] {
      display: none;
    }
  }
}
