.eventAgenda__part {
  margin-top: 1rem;
}

.eventAgenda__heading {
  font-size: 1.25rem;
  font-weight: bold;
}

.eventAgenda__table {
  width: 100%;

  [class*='fa-'] {
    color: theme('color.primary.dark');
    margin-right: 0.25em;
  }

  strong {
    font-weight: 900;
  }

  tr:nth-child(2n + 1) {
    background-color: #f4f4f4;
  }

  td {
    padding: 0.75rem 1.25rem;

    &:first-child {
      color: theme('color.dark.dim');

      @media #{vw(min, xs)} {
        width: 1em;
      }
    }
  }

  p {
    display: inline;
  }

  @media #{vw(max, xs)} {
    td {
      display: block;
      text-align: center;

      &:first-child {
        padding-top: 1.5rem;
        padding-bottom: 0;
        text-align: center;
      }

      &:last-child {
        padding-bottom: 1.5rem;
      }
    }
  }
}
