@import '~theme/button';

.eventPageBookings {
  @media #{vw(min, sm)} {
    h2 {
      display: inline-block;
      margin-right: 1em;
    }

    &__headingButton {
      vertical-align: top;
    }
  }

  &__headingButton {
    margin-bottom: 1em;
  }

  table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 14px;
    box-shadow: 2px 4px 20px rgba(#000, 0.1);
  }

  th,
  td {
    vertical-align: top;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
