@import '../../~sass-utils/full-height';

.eventPageDescription {
  $breakpoint-name: md;

  @media #{vw(min, $breakpoint-name)} {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    &__col {
      &:not(:only-child) {
        width: 50%;
      }

      @include full-height-enable;
    }

    &__image {
      @include full-height-take;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
