@import '../../~sass-utils/clearfix';

.eventPage {
  background-color: #f4f4f4;

  ul,
  ol {
    &:not([class]) {
      list-style-position: outside;

      li {
        list-style-position: inherit;
        list-style-type: inherit;
        margin-left: 2.5em;
      }
    }
  }

  ul:not([class]) {
    list-style-type: disc;
  }

  ol:not([class]) {
    list-style-type: decimal;
  }

  div:empty[data-offset-key] {
    min-height: 1em;
  }

  .container {
    width: 100%;
  }

  &__topImage {
    @include clearfix;

    & > img {
      float: left;
    }
  }

  &__container {
    padding: 30px;

    @media #{vw(min, sm)} {
      padding: 60px;
    }
  }

  &__title {
    @media #{vw(min, sm)} {
      font-size: 48px;
    }

    & > a:hover {
      text-decoration: underline;
    }

    i {
      margin-left: 0.5rem;
      vertical-align: top;
      font-size: 1rem;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__map {
    height: 500px;
    max-height: 100vh;
  }

  &__heading {
    padding-bottom: 1.5rem;
    font-size: 30px;
    font-weight: bold;
    color: theme('color.primary.dark');
  }

  .slick-slide > div {
    display: flex;
  }
}
