@import '~theme/button';

.eventPriceBox {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  max-width: 100%;
  border: 1px solid theme('color.primary.strong');
  padding: 30px;
  text-align: center;

  &__price {
    padding-bottom: 1rem;
    line-height: 1.2;
    font-family: theme('font.family.headings');
    font-size: 36px;
  }

  .et_pb_button {
    @media #{vw(max, xs)} {
      @include button-small;
    }
  }
}
