@import '~theme/button';

.eventPagePrompt {
  padding-bottom: 1rem;
  text-align: center;
  background-color: #fff;

  &__heading {
    padding-bottom: 2rem;

    @media #{vw(min, sm)} {
      font-size: 48px;
    }
  }

  &__col {
    padding-bottom: 1rem;
  }

  @media #{vw(min, sm)} {
    &__row {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
    }

    &__col:first-child {
      padding-right: 3rem;
    }
  }

  &__price {
    line-height: 1.2;
    font-family: theme('font.family.headings');
    font-size: 36px;
  }

  .et_pb_button {
    @include button-constant-width;
  }
}
