.eventPageSpeaker {
  $breakpoint-name: md;

  &__row {
    &:not(:first-child) {
      padding-top: 2rem;
    }

    &:not(:last-child) {
      padding-bottom: 2rem;
    }
  }

  @media #{vw(max, $breakpoint-name)} {
    &__col {
      &:first-child {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
      }
    }

    &__name,
    &__business {
      text-align: center;
    }
  }

  @media #{vw(min, $breakpoint-name)} {
    &__row {
      display: flex;

      &:nth-child(2n) {
        flex-direction: row-reverse;

        .eventPageSpeaker__col {
          &:first-child {
            padding-right: 0;
            padding-left: 60px;
          }

          &:last-child {
            flex: 1;
          }
        }
      }
    }

    &__col {
      &:first-child {
        padding-right: 60px;
      }
    }
  }

  &__name {
    margin-bottom: 0.25rem;
    padding-bottom: 0;
    font-size: 1.5rem;
    color: theme('color.primary.dark');
  }

  &__business {
    display: block;
    text-transform: uppercase;
  }

  &__description {
    margin-top: 1rem;
  }

  a:hover {
    text-decoration: underline;
  }
}
