@import '../../~sass-utils/cols';
@import '../../~sass-utils/gutter';

.eventPageSummaryRow {
  $breakpoint-name: md;

  padding-top: 1.5em;

  @include cols(
    (
      vw(min, $breakpoint-name): (
        700% / 12,
        500% / 12
      )
    )
  );

  @include gutter(30px, $row-selector: '&');

  @media #{vw(min, $breakpoint-name)} {
    display: flex;
    justify-content: space-between;
  }
}
