@import '../../~sass-utils/sr-only';

body.woocommerce-checkout {
  #customer_details {
    margin-bottom: 2rem;
  }

  &.woocommerce-only-virtual-products #customer_details {
    & > .col-1 {
      float: left;
      width: 100%;
    }

    & > .col-2 {
      display: none;
    }
  }

  .variation {
    font-size: 14px;
  }
}

#billing_country_field {
  display: none;
}

.woocommerce-privacy-policy-text {
  font-size: 14px;
  padding-bottom: 1rem;
}
