@import '~theme/button';
@import '~theme/input';
@import '../../~sass-utils/sr-only';

.woocommerce {
  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message {
    background-color: theme('color.primary.strong');
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  #page-container & .button {
    @include button-standard;
  }

  form,
  input,
  textarea,
  #payment {
    border-radius: 0 !important;
  }

  textarea {
    font-family: inherit;
    min-height: 8em;
    resize: vertical;
  }

  #page-container & .select2-selection {
    border-radius: 0;
  }

  .input-checkbox,
  .woocommerce-form__input-checkbox {
    @include sr-only;

    + span {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    + span::before {
      content: ' ';
      flex-shrink: 0;
      display: inline-block;
      margin-right: 1em;
      border: 1px solid #bbb;
      border-radius: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      font-family: ETmodules;
      font-size: 1rem;
    }

    &:checked + span::before {
      content: '\4e';
    }
  }

  table.shop_table {
    border-radius: 0;
  }
}

.woocommerce-Price-amount {
  white-space: nowrap;
}
