@import '~theme/button';

.woocommerce {
  #page-container & .wc-item-meta {
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
    line-height: 1.5;
  }

  .wc-item-meta strong,
  .variation > dt {
    padding-left: 0;
    margin-left: 1em;
  }
}

.woocommerce-order {
  padding-bottom: 2rem;
}

.woocommerce-thankyou-order-received {
  margin-bottom: 2rem;
}

.woocommerce-customer-details {
  display: none;
}

.woocommerce-thankyou-order-failed {
  padding-bottom: 2rem !important;
}

.woocommerce ul.order_details {
  padding: 1rem 0 !important;
  margin: 0;
}

section.woocommerce-order-details {
  margin: 0 !important;
  padding: 0 !important;
}

.order-again {
  display: none;
}
