.affiliates {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #2b3446;

  h2 {
    font-size: 28px;
    margin-bottom: 2rem;
    text-align: center;
    color: theme('color.light.full');
  }

  .lcsp_logo_link {
    img {
      filter: brightness(0) invert(1);
    }

    &[href*='polskislad'] img {
      filter: none;
    }

    &[href*='ecovis'] img {
      max-width: 200px
    }
  }

  &__content {
    overflow: hidden;
  }

  .lcsp_wrapper {
    margin-bottom: 0;
  }

  @media #{vw(min, lg)} {
    &__outerRow {
      display: flex;
      align-items: center;
    }

    h2 {
      margin-right: 90px;
      margin-bottom: 0;
    }
  }
}
