@import '~theme/text';

.align-items-center {
  align-items: center;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.bg-primary {
  background-color: theme('color.primary.full');
}

.color-light {
  color: theme('color.light.full');
}

.color-primary-dark {
  color: theme('color.primary.dark');
}

.p-justify p {
  @include justify-conditionally;
}

.fill-primary {
  fill: theme('color.primary.full');
}

.fill-white {
  fill: #fff;
}

.float-right {
  float: right;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-regular-lg {
  line-height: theme('font.lineHeight.basePx');
  font-size: theme('font.size.regular.lg');
}

.font-size-regular-sm {
  font-size: theme('font.size.regular.sm');
}

.font-size-heading-base {
  font-size: theme('font.size.heading.base');
}

.bg-lightgray {
  background-color: theme('color.gray.veryLight');
}

.bg-white {
  background-color: #fff;
}

.bg-parallax-lightgray-and-white .et_parallax_bg {
  background-image: linear-gradient(
    theme('color.gray.veryLight') 55%,
    #fff 55%
  ) !important;
}

.bg-parallax-white-lightgray-white .et_parallax_bg {
  background-image: linear-gradient(
    #fff 20%,
    theme('color.gray.veryLight') 20%,
    theme('color.gray.veryLight') 50%,
    #fff 50%
  ) !important;
}

.invisible {
  visibility: hidden;
}

.font-family-headings {
  font-family: theme('font.family.headings');
}

.line-height-short {
  line-height: 1.1;
}

.hover-bg-primary.hover-bg-primary:hover {
  background-color: theme('color.primary.full') !important;
}

.not-printable {
  @media print {
    display: none;
  }
}

.print-only {
  @media not print {
    display: none;
  }
}

.hidden {
  display: none;
}
