.blurb-circles {
  .et_pb_image,
  .et_pb_main_blurb_image {
    display: inline-block;
    width: 108px !important;
    height: 108px;
    border-radius: 50%;
    border: 3px solid theme('color.primary.dark');
    position: relative;

    .et_pb_image_wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
