.bookingForm {
  &__inputRow {
    padding-top: 2em;
  }

  &__label {
    padding-right: 1em;
  }

  &__input {
    box-sizing: content-box;
    max-width: 3em;
    height: 1.2em !important;
    padding: 0 !important;
    text-align: center;

    &:focus {
      box-shadow: none;
    }

    &--large {
      transform: scale(1.5);
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    & > label {
      margin-right: 1em;
    }
  }
}

.bookingFormTickets {
  $v-spacing: 0.25em;
  $moreLink-padding-bottom: 0.5rem;
  margin-top: 1em;
  padding: #{$v-spacing * 2} #{$v-spacing * 4};
  background-color: #f4f4f4;

  &__quantityPicker {
    display: block;
    padding-top: $v-spacing;
    padding-bottom: $v-spacing;
    border: 1px solid theme('color.dark.dim');
    background-color: #fff;
  }

  &__moreLink {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;

    &::after {
      display: inline-block;
      font-family: ETmodules;
      content: '9';
      transform: translateY(0.1em);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__popover {
    max-width: 98%;
    text-align: left;
    background-color: rgba(#000, 0.9) !important;
    box-shadow: 2px 4px 20px rgba(#000, 0.5) !important;

    p,
    ul {
      line-height: 1.2;

      &:not(:last-child) {
        padding-bottom: 0.5em;
      }
    }

    li {
      list-style: outside disc;
      margin-left: 2em;

      &:not(:last-child) {
        padding-bottom: 0.25em;
      }
    }
  }

  &__name {
    padding-right: 1rem;
  }

  caption {
    text-align: inherit;
    font-family: theme('font.family.headings');
    font-size: 1.5rem;
    padding-bottom: $v-spacing;
  }

  th,
  td {
    padding-right: 1em;
  }

  td:nth-child(1) {
    font-size: 14px;
  }

  td:nth-child(2) {
    font-weight: bold;
  }

  td:nth-child(3) {
    min-width: 8em;

    @media #{vw(max, sm)} {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  @media (max-width: 560px) {
    text-align: center;

    &__quantityPicker {
      display: inline-block;
      white-space: nowrap;
    }

    table,
    caption,
    tbody,
    tr,
    th,
    td {
      display: block;
    }

    table {
      padding-top: $v-spacing * 2;
      padding-bottom: $v-spacing * 4;
    }

    tr {
      &:not(:last-child) {
        margin-bottom: $v-spacing * 3;
        border-bottom: 1px solid rgba(#000, 0.15);
        padding-bottom: $v-spacing * 4;
      }
    }
  }
}
