.bottomBar {
  // Position
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  // Unless visible, move just below the screen
  transform: translate(0, 100%);

  // Transition effect for showing/hiding
  transition: transform 0.3s;

  &--visible {
    // Move back into base position
    transform: translate(0, 0);
  }
}
