@import '~theme/button';

// TODO: Rewrite the theme/button mixins and the et_pb_button override so we don't have to use this specificity-based override

.button-sm.button-sm {
  @include button-small;
}

.button-gray.button-gray {
  @include button-gray;
}

.button-no-arrow {
  &::after {
    content: none !important;
  }
}

.btn-primary-inverse.btn-primary-inverse {
  @include button-primary-inverse;
}

.button-multiline {
  @include button-multiline;
}
