@import '~theme/button';
@import '~theme/input';

.categoryButton {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  background-color: #fff;
  cursor: pointer;

  @media #{vw(min, sm)} {
    white-space: nowrap;
  }

  transition: 0.3s;

  &:hover {
    background-color: transparent;
  }

  @include input-focus-transition;
  input:focus + & {
    @include input-focus-effect;
  }

  input:checked + & {
    border-bottom: 3px solid theme('color.primary.dark');
  }
}
