@import '../../~sass-utils/flex-row';

.categoryPicker {
  @include flex-row(
    $gutter: 10px,
    $map: (
      vw(min, xs): 2,
      vw(min, sm): 3,
      vw(min, md): 4
    ),
    $center-content: true
  );

  padding-bottom: 45px;
  font-size: 14px;

  @media #{vw(min, lg)} {
    font-size: inherit;
  }
}
