.coloredStatus {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;

  &__icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__text {
    margin-left: 0.5rem;
  }

  &--accepted &__icon {
    background-color: forestgreen;
  }

  &--awaiting &__icon {
    background-color: #e4bd00;
  }

  &--rejected &__icon {
    background-color: #b40000;
  }
}
