@import '../../~sass-utils/cols';
@import '../../~sass-utils/gutter';

.customCheckout {
  $spacing: 20px;

  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  padding-top: $spacing;

  @include cols(
    (
      vw(min, sm): 2
    )
  );

  @include gutter(($spacing * 2, $spacing), $row-selector: &);

  label,
  input {
    display: block;
  }

  input {
    height: $spacing * 2 !important;
  }
}
