@import '../../~sass-utils/absolute-center';

.ui-datepicker {
  box-shadow: 0 0 10px rgba(black, 0.1);
  background-color: #fff;
  color: theme('color.dark.full');
  user-select: none;

  &-prev,
  &-next {
    top: 2px !important;
    cursor: pointer;

    &.ui-state-disabled {
      display: none;
    }

    &::before {
      @include absolute-center;
      font-family: ETmodules;
      color: theme('color.dark.full');
    }
  }

  &-prev {
    left: 2px !important;

    &::before {
      content: '\3c';
    }
  }

  &-next {
    right: 2px !important;

    &::before {
      content: '\3d';
    }
  }

  &-unselectable {
    opacity: 0.5;
  }
}
