@import '~theme/input';
@import '~theme/pagination';

.DirectionalPagination {
  display: flex;
  justify-content: center;
  align-items: center;

  .divi-icon {
    display: inline-block;
    transform: translateY(0.1em);
  }

  a {
    display: block;
    padding: 0.5em 1em;
    box-shadow: 0 0 70px rgba(#000, 0.2);
    background-color: white;

    &:hover {
      background-color: theme('color.gray.veryLight');
    }

    .EventSearchGroups__item:nth-of-type(2n) & {
      box-shadow: 0 0 70px rgba(#000, 0.1);
    }

    @include input-focus-transition;

    &:focus {
      box-shadow: 0 0 30px rgba(black, 0.33) !important;
    }
  }

  &__info {
    display: block;
    padding: 0.5em 1em;
  }
}
