@import '~theme/brand-colors';

.divi-icon {
  font-family: ETModules;
  speak: none;
}

$icons: (
  carrot-down: '\33',
  facebook: '\e093',
  globe-2: '\e0e3',
  linkedin: '\e09d',
  mail-alt: '\e010',
  phone: '\e090',
  twitter: '\e094',
  youtube: '\e0a3',
  instagram: '\e09a',
  plus: '\4c'
);

@each $key, $value in $icons {
  .divi-icon--#{$key} {
    &::before {
      content: $value;
    }

    transition: color 0.5s;

    @if (map_has_key($brand-colors, $key)) {
      .divi-icons-color & {
        color: map_get($brand-colors, $key);
      }

      .divi-icons-hover-color & {
        &:hover,
        &:focus {
          color: map_get($brand-colors, $key) !important;
        }
      }
    }
  }
}
