@import '../../~sass-utils/full-height';

html,
body,
#page-container {
  min-height: 100vh;
}

#page-container {
  // Prevent weird glitch where there is space below the footer
  overflow: hidden;

  @include full-height-enable;
}

#et-main-area {
  @include full-height-take;

  display: flex;
  flex-direction: column;

  & > *:first-child {
    flex: 1;
  }
}
