@import '../../~sass-utils/absolute-center';
@import '../../~sass-utils/em';
@import '../../~sass-utils/overlay';

// Specificity against Divi
#page-container .em-calendar {
  $breakpoint-name: sm;
  margin: 0;
  border: none;

  td {
    $diameter-sm: 1.8em;
    $diameter-lg: em(40px, 18px);
    $cell-padding-vertical: em(7px, 18px);
    $transition: 0.5s;

    // Chrome rounds it to 1px when em == 14px and to 2px for larger font sizes
    $border-width: em(1.7px, 18px);

    box-sizing: content-box;
    border: none;
    width: $diameter-sm;
    height: $diameter-sm;
    padding: $cell-padding-vertical 0;

    @media #{vw(min, sm)} {
      width: $diameter-lg;
      height: $diameter-lg;
    }

    &[class*='today'] {
      background-color: #f4f4f4;
    }

    &[class*='eventless'],
    &.eventful-pre {
      color: theme('color.dark.dim');
    }

    &.eventful-pre > a {
      text-decoration: none;
      cursor: auto;
    }

    &.eventful,
    &.eventful-today {
      $active-selector: '.active';
      $color: theme('color.primary.strong');
      color: $color;
      transition: $transition;

      position: relative;
      &::before {
        content: ' ';
        @include absolute-center;
        display: block;

        width: $diameter-sm;
        height: $diameter-sm;
        @media #{vw(min, sm)} {
          width: $diameter-lg;
          height: $diameter-lg;
        }

        border: $border-width solid $color;
        border-radius: 50%;
        background-color: inherit;
        transition: $transition;
      }

      &:hover:not(#{$active-selector}) {
        transform: scale(1.1) !important;
      }

      & > a {
        // Extend the clickable link area to the whole <td>
        @include overlay;
        z-index: 1;

        // Center content
        display: inline-flex;
        justify-content: center;
        align-items: center;

        // Style text
        color: inherit;
        text-decoration: none;
      }

      &#{$active-selector} {
        color: #fff;

        &::before {
          background-color: $color;
        }
      }
    }
  }
}
