@import '../../~sass-utils/cols';
@import '../../~sass-utils/gutter';
@import '~theme/button';
@import '../../~sass-utils/precision';

.eventCategoryButtons {
  $icon-width: 58px;
  $item-line-height: 1.3;
  $item-event-font-size: 14px;

  display: inline-flex;
  flex-direction: column;
  padding: 0 !important;

  &--horizontal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @include cols(
        (
          vw(min, lg): 3
        ),
      $col-selector: '& > div'
    );

    @include gutter(
        10px,
      $row-selector: &,
      $col-selector: '& > .eventCategoryButtons__group'
    );
  }

  &__group {
    margin-bottom: 10px;
  }

  &--horizontal &__group {
    margin-bottom: 0;
  }

  &--bordered &__group {
    border: 2px solid #f3f3f3;
  }

  &--shadow &__group {
    box-shadow: 0 40px 70px rgba(#000, 0.1);
  }

  &__item {
    display: flex;
    align-items: center;
    line-height: $item-line-height;
    background-color: #fff;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #f3f3f3;
    }

    &:focus {
      box-shadow: 0 0 30px rgba(#000, 0.1);
    }

    &--event {
      $padding-vertical: 0.5em;
      $padding-horizontal: 1em;

      // For the badge
      justify-content: space-between;

      padding: $padding-vertical $padding-horizontal;
      font-size: $item-event-font-size;

      position: relative;

      &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: $padding-horizontal;
        right: $padding-horizontal;
        height: 1px;
        background-color: #f3f3f3;
      }
    }

    &--moreEvents {
      min-height: 32px;
      justify-content: center;
      align-items: center;
      text-align: center;

      font-family: theme('font.family.headings');
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;

      padding-left: 1em;

      &::after {
        font-family: ETmodules;
        content: '9';
        font-size: 80%;

        display: inline-block;
        transform: translateX(-2em);
        opacity: 0;
        transition: 0.3s;
      }

      &:hover {
        padding-left: 0;

        &::after {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }

  &--noAccordion &__item--category {
    cursor: auto;
  }

  &--noAccordion:not(&--horizontal) &__item--category {
    background-color: #f7f7f7;
  }

  &:not(&--noAccordion) &__item--category::after {
    justify-self: flex-end;
    font-size: 12px;
    padding: 1em;
    content: '9';
    font-family: ETmodules;
    color: #a1a1a1;
  }

  &:not(&--noAccordion) &__group--active &__item--category {
    background-color: #f7f7f7;

    &::after {
      content: '8';
    }
  }

  &--bordered &__item--category {
    height: 60px;
  }

  &--shadow &__item--category {
    height: 50px;
  }

  &__categoryIcon {
    width: $icon-width;
    height: 100%;
    text-align: center;
    position: relative;
  }

  img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
  }

  &__categoryName {
    flex: 1;
    padding-right: 1em;
  }

  &__events {
    height: 0;
    padding: 0 !important;
    overflow: hidden;
  }

  &__group--active &__events {
    height: auto;
  }

  &__badge {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;

    text-align: right;
    font-size: 12px;
    font-family: theme('font.family.headings');
    font-weight: 700;
    text-transform: uppercase;

    opacity: 0;
    transform: translateX(100%);
    transition: 0.5s;

    &::after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-family: ETmodules;
      content: '9';
      font-size: 80%;
    }
  }

  &__item--event:hover &__badge {
    opacity: 1;
    transform: translateX(0);
  }

  &__noEventsMessage {
    padding-bottom: 2rem !important;
  }

  &__branchLink {
    line-height: precision(20/14, 2) !important;
    @include button(20px, 14px);
    @include button-height(50px, 20px);
  }
}
