.eventMeta {
  td {
    &:first-child {
      color: theme('color.dark.dim');
      padding-right: 1.5rem;
    }
  }

  @media #{vw(max, xs)} {
    &,
    tbody,
    tr,
    td {
      display: block;
    }

    td {
      padding-bottom: 0;

      &:last-child {
        padding-bottom: 0.25rem;
        padding-left: 1rem;
      }
    }

    &__separator > td:first-child {
      display: none;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  &__contact a {
    color: theme('color.primary.full');
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
