.floatedImageRow {
  &__item--image {
    margin-bottom: 1rem;
  }

  @media (max-width: 1279px) {
    display: flex;
    flex-direction: column;

    &__item {
      &--before {
        order: -1;
      }
    }
  }

  @media (min-width: 1280px) {
    &__item {
      &--image {
        float: right;
        margin-left: 1rem;
      }
    }
  }
}
