@import '~theme/container';
@import '../../~sass-utils/gutter';

#main-footer {
  @include theme-container-padding(left, right);
  font-size: 12px;
  background-color: #f4f4f4;
  color: theme('color.dark.full');

  .container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.bottom-nav {
  margin-top: 11px;
  padding-bottom: 0;
  text-transform: uppercase;
  text-align: center;

  > .menu-item {
    display: block;
    padding-right: 0;
    padding-bottom: 11px;
  }

  @media #{vw(min, xs)} {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include gutter((22px, 11px), $row-selector: &, $col-selector: '& > .menu-item');
    margin-top: 0 !important;
    padding-bottom: 15px;
  }

  a {
    color: inherit;
  }
}

#footer-info {
  float: none;
  color: inherit;
  text-align: center;
}

#et-footer-nav,
#footer-bottom {
  background-color: inherit;
  color: inherit;
}

.footer-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 15px;
  text-align: center;

  & > li {
    display: inline;
    white-space: nowrap;

    &:not(:last-child)::after {
      display: inline-block;
      padding-left: 0.5em;
      padding-right: 0.5em;
      content: '|';
    }
  }
}

@media (min-width: 1200px) {
  #main-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-nav {
    justify-content: flex-end;
  }

  #et-footer-nav {
    width: 66.66%;
  }

  #footer-bottom {
    width: 33.33%;
    text-align: left;
  }

  #footer-info {
    text-align: left;
  }

  .footer-contact {
    width: 100%;
  }
}

.bottom-nav li.current-menu-item > a {
  color: theme('color.primary.full');
}
