.icon-sphere {
  display: inline-block;
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
  transform: translateY(25%);

  position: relative;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
