.languageSwitcher {
  &__container {
    height: 29px;
  }

  overflow: hidden;

  background-color: #f4f4f4;
  color: theme('color.dark.dim');
  cursor: pointer;
  transition: height 0.5s;

  &:not(:hover):not(:focus-within) {
    height: 100% !important;
  }

  &__option {
    display: block;
    line-height: 29px;
    width: 100%;

    // Actually, we need only horizontal padding and no !important, but Divi...
    padding: 0 16px !important;

    &:hover,
    &:focus {
      background-color: #f0f0f0;
    }
  }

  // Un-override Divi
  #mobile_menu & {
    font-size: inherit;
  }
  &__option {
    color: inherit !important;
  }
}
