@import '~theme/list';

.list-primary,
.lists-primary ol,
.lists-primary ul {
  @include list-primary;
}

ol.list-primary,
.lists-primary ol {
  @include list-numbered;
}

ul.list-primary,
.lists-primary ul {
  @include list-bulleted;
}
