#moove_gdpr_cookie_info_bar {
  border: none !important;

  p {
    font-weight: normal !important;
  }

  button {
    border-radius: 0 !important;
    text-transform: uppercase !important;
    font-family: theme('font.family.headings');
  }
}
