@import '~theme/horizontal-rule';
@import '~theme/input';

body {
  overflow-x: hidden;
  font-family: theme('font.family.primary');
  font-size: theme('font.size.regular.base');
  line-height: theme('font.lineHeight.base');
  color: theme('color.dark.full');
}

a {
  color: inherit;
}

@for $i from 1 through 6 {
  h#{$i} {
    color: inherit;
    font-family: theme('font.family.headings');
  }
}

h1,
h2 {
  font-size: 36px;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

hr {
  border: none;
  @include horizontal-rule;
  margin-top: 16px;
  margin-bottom: 20px;
}

.et_pb_scroll_top {
  border-radius: 0 !important;
}
