@import '../../~sass-utils/cols';
@import '../../~sass-utils/full-height';
@import '../../~sass-utils/gutter';

.peopleRow {
  display: flex;
  flex-wrap: wrap;

  @include cols(
    $map: (
      vw(min, sm): 2,
      vw(min, md): 3
    )
  );

  @include gutter((20px, 10px), &);

  &--center {
    justify-content: center;
  }

  &__col {
    @include full-height-enable;
  }
}
