@import '../../~sass-utils/full-height';

.personBox {
  @include full-height-take;
  @include full-height-enable;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ececec;

  &__imageRow {
    text-align: center;
    padding-bottom: 1rem;
  }

  &--split {
    justify-content: space-between;
  }
}
