.popoverLink {
  cursor: pointer;

  &__popover {
    padding: 0.5em 1em;
    background-color: rgba(#000, 0.8);
    color: white;
    height: 0;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
    cursor: auto;

    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }

  &:focus,
  &:focus-within,
  &--showOnHover:hover {
    & > .popoverLink__popover--activated,
    & + .popoverLink__popover--static {
      height: auto;
      opacity: 1;
      z-index: 1;
    }
  }
}
