@import '../../~sass-utils/full-height';
@import '../../~sass-utils/overlay';

.postSummary {
  @include full-height-take;
  @include full-height-enable;

  &__image {
    display: block;
    position: relative;
    overflow: hidden;

    & > img {
      display: block;
      transition: 0.3s;
    }

    &::after {
      content: ' ';
      transition: 0.3s;
      @include overlay;
      background-color: white;
      opacity: 0;
    }

    &:hover {
      & > img {
        transform: scale(1.05);
      }

      &::after {
        opacity: 0.33;
      }
    }
  }

  &__content {
    @include full-height-take;
    @include full-height-enable;
    justify-content: space-between;
    padding: 30px 10px;
  }

  &__middle {
    padding-bottom: 1rem;
  }

  &__meta {
    color: theme('color.dark.dim');
    padding-bottom: 0.5rem;
  }

  &__title {
    padding-bottom: 1rem;
    font-size: theme('font.size.heading.base');

    &:hover {
      text-decoration: underline;
    }
  }

  &__footer {
    text-align: right;
  }

  &__button {
    $button-padding-horizontal: 8px;
    $transition-duration: 0.2s;
    display: inline-block;
    font-weight: bold;
    color: theme('color.primary.full');
    text-transform: uppercase;
    padding-left: $button-padding-horizontal;
    padding-right: $button-padding-horizontal;
    margin-right: -$button-padding-horizontal;
    transition: $transition-duration;

    &::after {
      display: inline-block;
      content: '9';
      font-family: ETmodules;
      transform: translateY(1px);
      transition: $transition-duration;
    }

    &:hover {
      background-color: #f3f3f3;
      $spread-by: 0.5rem;
      margin-left: -($spread-by * 0.5);
      &::after {
        margin-left: $spread-by;
        margin-right: -($spread-by * 0.5);
      }
    }
  }
}
