@import '../../~sass-utils/cols';
@import '../../~sass-utils/full-height';
@import '../../~sass-utils/gutter';

.postsGrid {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  @include cols(
    (
      vw(min, sm): 2,
      vw(min, md): 3
    )
  );

  @include gutter(20px, $row-selector: &);

  &__col {
    @include full-height-enable;
  }
}
