@import '~theme/button';

.searchField {
  display: block;
  position: relative;

  &__clear {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);

    border: none;
    background: none;

    &::before {
      content: '✕';
    }
  }
}
