@import '~theme/brand-colors';

.shareButton {
  display: inline-block;
  padding: 1px 8px;
  border-radius: 3px;
  font-size: 12px;
  color: white;

  &--facebook {
    background-color: map_get($brand-colors, facebook);
  }

  &--twitter {
    background-color: map_get($brand-colors, twitter);
  }

  transition: 0.3s;
  &:hover {
    opacity: 0.7;
  }

  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}
