#sidebar {
  .et_pb_widget {
    margin-bottom: 3rem;
  }

  .widgettitle {
    font-size: theme('font.size.heading.base');
    padding-bottom: 1rem;
  }

  a {
    display: inline-block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: theme('color.dark.full');
    transition: 0.3s;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
