.smallEventList {
  &__part:not(:first-child) {
    margin-top: 1rem;
  }

  &__heading {
    padding-bottom: 1rem;
    font-family: theme('font.family.primary');
    font-size: 18px;
    font-weight: 700;
  }
}
