@import '../../~sass-utils/clearfix';
@import '../../~sass-utils/full-height';
@import '../../~sass-utils/gutter';
@import '../../~sass-utils/overlay';
@import '../../~sass-utils/sr-only';
@import '~theme/button';
@import '~theme/font';
@import '~theme/heading';

.clearfix {
  @include clearfix;
}

.sr-only {
  @include sr-only;
}

.heading-sm-primary {
  @include heading-sm-primary;
}

.heading-sm {
  @include heading-sm;
}

.bg-white {
  background-color: #fff;
}

.font-size-jumbo {
  @include theme-font-size-jumbo;
}

.spread-height {
  @include full-height-enable;
  justify-content: space-between;
}

.gutterRow {
  display: flex;
  flex-wrap: wrap;
}

@include gutter(
  $gutters: 10px,
  $row-selector: '.gutter-10px__row',
  $col-selector: '.gutter-10px__col'
);

.bg-darken,
.bg-darken .et_parallax_bg {
  &::before {
    content: '';
    position: absolute;
    @include overlay;
    background-color: rgba(#000, 0.6);
  }
}

.space-out-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-width-lg {
  width: theme('container.maxWidth');
  max-width: 90vw;
}

.link-underline {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.links-hover-underline a:hover {
  text-decoration: underline;
}

.reasonable-justify {
  @media #{vw(min, xs)} {
    text-align: justify;
  }
}

.desktop-only {
  @media #{vw(max, md)} {
    display: none !important;
  }
}

.mobile-only {
  @media #{vw(min, md)} {
    display: none !important;
  }
}

.table-scroller {
  overflow: auto;
}

.text-center {
  text-align: center;
}
