.wpcf7-response-output {
  margin: 1rem 0 0 !important;
  border: none !important;
  padding: 0 !important;
  font-size: 14px;
}

span.wpcf7-not-valid-tip {
  color: inherit;
  font-weight: 900;
  padding-top: 0.5em;

  &::before {
    content: '\72';
    font-family: ETmodules;
    display: inline-block;
    margin-right: 0.5em;
    transform: translateY(0.1em);
  }
}

span.wpcf7-list-item {
  margin: 0;
}
